@charset "utf-8";
/* screen.css */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,500,700,900');
@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot?v=3.0.1');
  src: url('../font/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('../font/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('../font/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* COLOR SETUP */
:root {
  --primary-color: #4280e6;
  --secondary-color: #75a9ff;
  --third-color: #0d0d0d;
  --primary-bgcolor: #000;
  --ratingstars-color: #ffb109;
}
/* GLOBAL */
input, select, textarea {
	border:1px solid #fff;
    border-bottom: 3px solid var(--primary-color);
    color: #595959;
    display: block;
    float: left;
    font-size: 16px;
    height: auto;
    padding: 12px;
    transition: all 0.2s linear 0s;
    unicode-bidi: embed;
    width: 100%;
	background: transparent;
	font-style:italic;
	border-radius:8px;
}
input[type=text]:focus, input[type=password]:focus, input[type=url]:focus, input[type=email]:focus, input.text:focus, input.title:focus, textarea:focus {color:#ffffff; border-bottom:3px solid var(--secondary-color);}
input.search:focus { color:#ffffff !important; }
input[type=search] {-webkit-appearance: textfield;-webkit-box-sizing: content-box;font-family: inherit;font-size: 100%;}
input[type=search] {
	background: #fff url("../img/search-icon.png") no-repeat 5px 10px;
	border: 0;
	padding: 7px 7px 7px 25px;
	width: 0px;
	font-size:16px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
	border-radius:4px;

	border-right:10px solid var(--primary-color);
}
input[type=search]:focus {width: 130px; background-color: #fff; font-size:16px; }
input:-moz-placeholder {color: #fff;}
input::-webkit-input-placeholder {color: #fff;}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}
@media only screen and (max-width : 992px) {
	h2.icon {font-size:36px;}
	.cactus-note.ct-time {font-size:16px;}
	.infor h4 {font-size:24px; line-height:30px;}
	.posts-txt {font-size:18px;}
	input {font-size:18px;}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	h2.icon {font-size:36px;}
	.cactus-note.ct-time {font-size:16px;}
	.infor h4 {font-size:24px; line-height:30px;}
	.posts-txt {font-size:18px;}
	input {font-size:18px;}
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
@media (min-width:1200px){
    .auto-clear .col-lg-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-lg-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-lg-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-lg-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-lg-6:nth-child(odd){clear:left;}
}
@media (min-width:992px) and (max-width:1199px){
    .auto-clear .col-md-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-md-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-md-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-md-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-md-6:nth-child(odd){clear:left;}
}
@media (min-width:768px) and (max-width:991px){
    .auto-clear .col-sm-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-sm-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-sm-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-sm-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-sm-6:nth-child(odd){clear:left;}
}
@media (max-width:767px){
    .auto-clear .col-xs-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-xs-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-xs-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-xs-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-xs-6:nth-child(odd){clear:left;}
}
a {
    color: #fff;
    text-decoration: none;
	outline: none;
}
a:hover, a:active, a:focus {
  outline: none;
}
input::-moz-focus-inner {
  border: 0; 
}
object, embed {
  outline: 0;
}
.fa {}
a:hover, a:focus {
    color: #fff;
    text-decoration: none;
}
/* BASE */
html, body { height: 100% !important; height:auto; margin: 0 auto;  background-color: var(--primary-bgcolor, #000);}
html { font-size:100%; }
body {font-size:16px;color:#fff;font-family: 'Roboto Condensed', sans-serif;background-color: #ffffff;text-decoration:none;margin:0;padding:0;}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:lighter;
}
h4 {
	margin:15px 0;
}
h2 {
	font-weight:900 !important;
	text-transform:uppercase;
	font-size:30px;
	letter-spacing: -0.6px;
	margin:10px 0;
	display:inline-block;
}
h2.title {
	border-left:7px solid var(--primary-color);
	padding-left:10px;
	font-weight:900 !important;
    transform: skew(-15deg);
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
	text-transform:uppercase;
	font-size:30px;
	letter-spacing: -0.6px;
	margin:30px 0;
}
h2.icon {
	border-left:0;
	padding-left:0;
	font-weight:900 !important;
    transform: skew(-15deg);
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
	text-transform:uppercase;
	font-size:30px;
	letter-spacing: -0.6px;
	margin:0px 0px 15px 0;
}
h2.icon i {
	transform: skew(15deg);
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    -o-transform: skew(15deg);
    -ms-transform: skew(15deg);
	display:inline-block;
	border:5px solid var(--primary-color);
	font-size:24px !important;
	margin-right:10px;
	border-radius:50%;
	color:#fff;
	transition: all 0.1s linear 0s;
	padding-top:7px;
	vertical-align: middle;
	text-align:center;
	width:50px;
	height:50px;
}
h2.icon:hover i {
	border:5px solid var(--secondary-color);
}
h2.main-head-title {display:block; margin-top:0; margin-left: 8px;}
/* CLEARFIX */
.clearfix:after {content : "."; display : block; clear : both; visibility : hidden; line-height : 0; height : 0;}
section {margin:10px 0; display:block;}
.spacer {height:1px; margin:10px 0; padding:10px 0; display:inline-block; width:100%;}
/* BACKGROUNDS */
.standard-bg{
	padding-top:0px;
	/*background:#080b12 url('../img/backgrounds/blue-background-img.jpg') no-repeat center top fixed;*/
	background:#080b12 url('../img/bk1.jpg') no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	padding-bottom: 30px;
}
.footer-background {
	padding-top:80px;
	padding-bottom:80px;
	background:#080b12 url('../img/backgrounds/bottom-bg-img.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
#bottom-banner {padding:50px;}
/* MISC */
.ratings {
	display:block;
	color: var(--ratingstars-color);
	margin:20px 0;
}
.play-btn {
	padding:18px 20px;
	border-radius:50%;
	background: rgba(0, 0, 0, 0.4);
	display:inline-block;
	z-index:999;
	
	transition: all 0.1s linear 0s;
}
.play-btn-border {
	background: rgba(0, 0, 0, 0.6);
	border-radius:50%;
	padding:15px 0px;
	display:inline-block;
	z-index:2;
	opacity:0;
	position: absolute;
	left:50%;
	top:50%;
	transition: all 0.1s linear 0s;
	transform: translate(-50%, -50%) scale(1.4, 1.4);
}
.post:hover .play-btn-border {
	opacity:1;
	transform: translate(-50%, -50%) scale(1, 1);
}
.play-btn-border i:hover {
	border:5px solid var(--secondary-color);
	padding:10px 14px;
	border-radius:50%;
	color:#fff;
}
.fa-play-circle {
	color:#fff;
	border:10px;
	font-size:36px !important;
	transition: all 0.1s linear 0s;
}
.post:hover .fa-play-circle{
	color:#fff;
}
.post:hover .play-btn {
	background: rgba(0, 0, 0, 0.8);
	opacity:1;
} 
a.title {opacity:1; transition: all 0.1s linear 0s;}
a.title:hover {opacity:0.6}
a.post-thumb {
    background-color: #000000;
    display: block;
    overflow: hidden;
	position:relative;
	border-radius:8px;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.post {transition: all 0.1s linear 0s;}
.post:hover img { opacity: 0.4; -moz-opacity:0.4; -webkit-opacity:0.4; filter: alpha(opacity=40); transform: scale(1.2); border-radius: 8px; }
.post img {opacity: 1; transition: all 0.1s linear 0s;}
.thumbr img { width: 100%; border-radius: 8px;}
.post:hover  .thumbr {transition: all 0.1s linear 0s; z-index:999; transform: scale(1.02); }
.post:hover .thumbr {
	-webkit-box-shadow: 0px 30px 13px -21px rgba(0,0,0,1);
	-moz-box-shadow: 0px 30px 13px -21px rgba(0,0,0,1);
	box-shadow: 0px 30px 13px -21px rgba(0,0,0,1);
}
.headline-round {
	border:5px solid var(--primary-color);
	padding:10px 14px;
	border-radius:50%;
	color:#fff;
}
.posts-txt {color:#fff; font-size:14px; text-align:left; }
.posts-txt i {color:#fff; padding-right:15px; }
.fa-thumbs-up { color:#fff;}
.infor .ratings {float:right; display:inline-block; margin:0;}
/* VIDEO TIME */
.cactus-note.ct-time {
    left: auto;
    margin-left: auto;
    margin-right: 12px;
    right: 0;
	font-size:12px;
}
.cactus-note {
    background-color: var(--primary-color);
    bottom: 0;
    color: #fff;
    left: 0;
    line-height: 1;
    margin-bottom: 10px;
    margin-left: 10px;
	margin-right:15px;
    padding: 5px 10px;
    position: absolute;
	z-index:500;
	border-radius:3px;
}
/* FOOTER */
footer .post-medium {margin-bottom:20px;}
.copyright-bottom {padding-top:20px;}
.thumbr, .infor {display:block;border-radius: 8px;}
/* NAV */

