{% extends './default.html' %}

{% block body %}
{#    {% for url in tv_detail.urls %}#}
{#        {{ url }}#}
{#    {% endfor %}#}
<div class="fed-main-info fed-min-width">
    <div class="fed-part-case">
        <div class="fed-part-layout fed-part-rows fed-back-whits">
            <div class="fed-col-xs12 fed-col-sm8 fed-col-md9">
                <dl class="fed-deta-info fed-margin fed-part-rows fed-part-over">
                    <dt class="fed-deta-images fed-list-info fed-col-xs3">
                        <a class="fed-list-pics fed-lazy fed-part-2by3" href="/t-d/{{ tv_detail.tv_id|b64encode }}"
                           data-original="{{ tv_detail.tv_img }}"
                           style="display: block; background-image: url({{ tv_detail.tv_img }});">
                            <span class="fed-list-play fed-hide-xs"></span>
                            <span class="fed-list-score fed-font-xii fed-back-green">{{ tv_detail.tv_year }}</span>
                            <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">
                                {{ tv_detail.update_time|string|truncate(13,end='') }}
                            </span>
                        </a>
                    </dt>
                    <dd class="fed-deta-content fed-col-xs7 fed-col-sm8 fed-col-md10">
                        <h1 class="fed-part-eone fed-font-xvi"><a href="/t-d/{{ tv_detail.tv_id|b64encode }}">{{ tv_detail.tv_name }}</a></h1>
                        <ul class="fed-part-rows">
                            <li class="fed-col-xs12 fed-col-md6 fed-part-eone">
                                <span class="fed-text-muted">主演：</span>
                                    {% for ta in tv_detail.tv_actors|str_split %}
                                        <a href="/t-actors/{{ ta }}" target="_blank">{{ ta }}</a>
                                    {% endfor %}
                            </li>
                            <li class="fed-col-xs12 fed-col-md6 fed-part-eone">
                                <span class="fed-text-muted">导演：</span>
                                {% for td in tv_detail.tv_director|str_split %}
                                    <a href="/t-director/{{ td }}" target="_blank">{{ td }}</a>&nbsp;
                                {% endfor %}
                            </li>
                            <li class="fed-col-xs6 fed-col-md3 fed-part-eone">
                                <span class="fed-text-muted">分类：</span>
                                <a href="/tv/more/i={{ tv_detail.tv_type|b64encode }}" target="_blank">{{ tv_detail.tv_type }}</a>
                            </li>
                            <li class="fed-col-xs6 fed-col-md3 fed-part-eone">
                                <span class="fed-text-muted">地区：</span>
                                <a href="/t-area/{{ tv_detail.tv_area }}" target="_blank">{{ tv_detail.tv_area }}</a>&nbsp;
                            </li>
                            <li class="fed-col-xs6 fed-col-md3 fed-part-eone">
                                <span class="fed-text-muted">年份：</span>
                                <a href="/t-year/{{ tv_detail.tv_year }}" target="_blank">{{ tv_detail.tv_year }}</a>&nbsp;
                            </li>
                            <li class="fed-col-xs6 fed-col-md3 fed-part-eone">
                                <span class="fed-text-muted">更新：</span>{{ tv_detail.update_time|string|truncate(13,end='') }}
                            </li>
                            <li class="fed-col-xs12 fed-hide fed-show-md-block">
                                <div class="fed-part-esan">
                                    <span class="fed-text-muted">简介：</span>{{ tv_detail.tv_intro }}
                                </div>
                            </li>
                        </ul>
                    </dd>
                    <dd class="fed-deta-button fed-col-xs7 fed-col-sm8 fed-part-rows">
                        <a class="fed-deta-play fed-rims-info fed-btns-info fed-btns-green fed-col-xs4"
                           href="/t-play/{{ tv_detail.tv_id|b64encode }}/url={{ tv_detail.urls[0]|str_split('$')|get_list(1)|b64encode }}">立即播放</a>
                    </dd>
                </dl>

            </div>
{#            <div class="fed-hide-xs fed-col-sm4 fed-col-md3">#}
{#                <div class="fed-side-code fed-text-right fed-padding">#}
{#                    <p class="fed-side-text fed-text-muted fed-padding">扫描二维码手机看大片</p>#}
{#                    <img class="fed-side-image fed-hide" src="" alt="当前网页二维码">#}
{#                </div>#}
{#            </div>#}
        </div>
        <div class="fed-tabs-info  fed-rage-foot fed-part-rows fed-part-layout fed-back-whits fed-play-data">
            <ul class="fed-list-head fed-part-rows fed-padding">
                <li id="tv_list" class="fed-tabs-btns fed-part-curs fed-font-xvi fed-mart-v fed-text-green" href="javascript:;">
                    播放列表
                </li>
                <li id="tv_intro" class="fed-tabs-btns fed-part-curs fed-font-xvi fed-mart-v" href="javascript:;">剧情简介</li>
                <li class="fed-part-tips fed-padding">
                    <a class="fed-tabs-errs fed-event fed-more" href="javascript:;">报错</a>
                </li>
            </ul>
            <div class="fed-tabs-boxs">
                <div class="fed-tabs-item fed-drop-info fed-visible">
                    <div class="fed-drop-boxs fed-drop-btms fed-matp-v">
                        <div class="fed-play-item fed-drop-item fed-visible">
                            <ul class="fed-drop-head fed-padding fed-part-rows">
                                <li class="fed-padding fed-col-xs4 fed-part-eone fed-font-xvi">播放集数</li>
                                <li class="fed-padding fed-col-xs8 fed-part-eone fed-font-xvi fed-text-right">
                                    <a class="fed-drop-sort fed-back-green" style="cursor: pointer;" id="sx_switch">视频排序：正序</a>
                                </li>
                            </ul>
                            <ul id="zx_url" class="fed-part-rows">
                                {% for t_u in tv_detail.urls %}
                                    <li class="fed-padding fed-col-xs3 fed-col-md2 fed-col-lg1">
                                        <a class="fed-btns-info fed-rims-info fed-part-eone"
                                           href="/t-play/{{ tv_detail.tv_id|b64encode }}/url={{ t_u|str_split('$')|get_list(1)|b64encode }}">{{ t_u|str_split('$')|get_list(0) }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <ul id="dx_url" class="fed-part-rows fed-hidden">
                                {% for t_u in tv_detail.urls|reverse %}
                                    <li class="fed-padding fed-col-xs3 fed-col-md2 fed-col-lg1">
                                        <a class="fed-btns-info fed-rims-info fed-part-eone"
                                           href="/t-play/{{ tv_detail.tv_id|b64encode }}/url={{ t_u|str_split('$')|get_list(1)|b64encode }}">{{ t_u|str_split('$')|get_list(0) }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="fed-tabs-item fed-hidden">
                    <p class="fed-padding fed-part-both fed-text-muted">
                        {{ tv_detail.tv_intro }}
                    </p>
                </div>
            </div>
        </div>
        <div class="fed-part-layout fed-back-whits">
            <div class="fed-list-head fed-part-rows fed-padding">
                <h2 class="fed-font-xvi">相关热播</h2>
                <ul class="fed-part-tips fed-padding">
                    <li><a class="fed-more" href="/t-t/i={{ tv_detail.tv_type|b64encode }}">更多</a></li>
                </ul>
            </div>
            <ul class="fed-list-info fed-part-rows">
                {% for lh in like_hots %}
                    <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2
                       {% if loop.index==5 or loop.index==6 %} fed-hide-sm fed-show-md-block{% endif %}">
                        <a class="fed-list-pics fed-lazy fed-part-2by3" href="/t-d/{{ lh.tv_id|b64encode }}" style="display: block; background-image: url({{lh.tv_img}});">
                            <span class="fed-list-play fed-hide-xs"></span>
                            <span class="fed-list-score fed-font-xii fed-back-green">{{ lh.tv_area }}</span>
                            <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">{{ lh.update_time|string|truncate(13,end='') }}</span>
                        </a>
                        <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                           href="/t-d/{{ lh.tv_id|b64encode }}">{{ lh.tv_name }}</a>
                        <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
                            {{ lh.tv_intro }}
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
    <script src="../../static/js/common.js"></script>
{% endblock %}