{% extends './default.html' %}
{% block body %}
    <div class="fed-main-info fed-min-width">
        <input type="hidden" id="is_choose_in" value="{{ is_choose }}" />
        <div class="fed-part-case">
            {% if is_choose %}
            <div class="fed-casc-info fed-part-layout fed-back-whits fed-part-rows">
                <div class="fed-casc-list fed-part-rows">
                    <dl>
                        <dt>频道</dt>
                        {% for mv in tv_choose.tvs %}
                            <dd>
                                <a data-key="tt" data-value="{{ mv|get_list(0) }}"
                                   class="{% if mv|get_list(0)==cur_tv_type %} fed-this fed-text-green {% endif %}">
                                    {{ mv|get_list(1) }}
                                </a>
                            </dd>
                        {% endfor %}
                    </dl>
                    <dl>
                        <dt>分类</dt>
                        <dd><a data-key="ti" data-value="all">全部</a></dd>
                        {% for tty in tv_choose.tv_types[cur_tv_type] %}
                            <dd><a data-key="ti" data-value="{{ tty[0] }}" class="{% if tty[0]==cur_tv_item %} fed-this fed-text-green {% endif %}">
                                {{ tty[1] }}</a></dd>
                        {% endfor %}
                    </dl>
                    <dl>
                        <dt>地区</dt>
                        <dd><a data-key="ta" data-value="all"
                               class="{% if cur_tv_area=='all' %}fed-this fed-text-green{% endif %}">全部</a></dd>
                        {% for area in tv_choose.tv_areas %}
                            <dd><a data-key="ta" data-value="{{ area }}" class="{% if cur_tv_area==area %}fed-this fed-text-green{% endif %}">{{ area}}</a></dd>
                        {% endfor %}
                    </dl>
                    <dl>
                        <dt>年代</dt>
                        <dd><a data-key="ty" data-value="all"
                               class="{% if cur_tv_year=='all' %}fed-this fed-text-green{% endif %}">全部</a></dd>
                        {% for yy in tv_choose.tv_years %}
                        <dd><a data-key="ty" class="{% if cur_tv_year==yy|str_split(':')|get_list(0) %}fed-this fed-text-green{% endif %}"
                               data-value="{{ yy|str_split(':')|get_list(0) }}">{{ yy|str_split(':')|get_list(2) }}</a></dd>
                        {% endfor %}
                    </dl>
                </div>
            </div>
            {% endif %}
            <div class="fed-part-layout fed-back-whits">
                <div class="fed-list-head fed-part-rows fed-padding">
                    <h2 class="fed-font-xvi">推荐</h2>
{#                    <ul class="fed-part-tips fed-padding">#}
{#                        <li><a class="fed-more" href="/tv/choose">筛选</a></li>#}
{#                    </ul>#}
                </div>
                <ul class="fed-list-info fed-part-rows">
                    {% for tv in items %}
                        <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                        <a class="fed-list-pics fed-lazy fed-part-2by3" href="/t-d/{{ tv.tv_id|b64encode }}"
                           style="display: block; background-image: url({{ tv.tv_img }});">
                            <span class="fed-list-play fed-hide-xs"></span>
                            <span class="fed-list-score fed-font-xii fed-back-green">{{ tv.tv_area }}</span>
                            <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">
                                {{ tv.update_time|string|truncate(13,end='') }}
                            </span>
                        </a>
                        <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                           href="/t-d/{{ tv.tv_id|b64encode }}">{{ tv.tv_name }}</a>
                        <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
                            {{ tv.tv_actors }}
                        </span>
                    </li>
                    {% endfor %}
                </ul>
                <div class="fed-page-info fed-text-center" data-to-page="{{ to_page }}"
                     data-page-no="{{ page_no }}" data-count="{{ total }}"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{{ url_for('static', filename='js/pagination.js') }}"></script>
    <script>
    $(function(){
        $('.fed-page-info').pagination(function(pageNo){
            let to_url = window.location.href;
            to_url = to_url.split('?')[0]+'?p='+pageNo;
            window.location.href = to_url;
        });
        $('.fed-casc-list a').click(function(){
            $(this).addClass('fed-this').addClass('fed-text-green')
            $(this).parent().siblings('dd').find('a').removeClass('fed-this').removeClass('fed-text-green')
            $(this).parent().siblings('dd')
            let sel_a_s = $('.fed-casc-list a').filter('.fed-this')
            let to_url = '/t-choose'
            for(let i=0;i<sel_a_s.length;i++){
                to_url += '/'+$(sel_a_s[i]).attr('data-key')+'='+$(sel_a_s[i]).attr('data-value')
            }
            console.log(to_url)
            window.location.href=to_url
        })
    })
    </script>
{% endblock %}