{% extends './default.html' %}
{% block body %}
    <div class="fed-main-info fed-min-width">
        <div class="fed-part-case">
            <title>优视频-真正的免费在线视频</title>
            <div class="fed-part-layout fed-back-whits">
                <div class="fed-list-head fed-part-rows fed-padding">
                    <h2 class="fed-font-xvi">最近更新</h2>
                    <ul class="fed-part-tips fed-padding">
                        <li><a class="fed-more" href="/tv/choose">筛选</a></li>
                    </ul>
                </div>
                <ul class="fed-list-info fed-part-rows">
                    {% for tv in page_vo.rows %}
                        <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                        <a class="fed-list-pics fed-lazy fed-part-2by3" href="/t-d/{{ tv.tv_id }}"
                           style="display: block; background-image: url({{ tv.tv_img }});">
                            <span class="fed-list-play fed-hide-xs"></span>
                            <span class="fed-list-score fed-font-xii fed-back-green">{{ tv.tv_area }}</span>
                            <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">
                                {{ tv.update_time|string|truncate(13,end='') }}
                            </span>
                        </a>
                        <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                           href="/t-d/{{ tv.tv_id }}">{{ tv.tv_name }}</a>
                        <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
                            {{ tv.tv_intro }}
                        </span>
                    </li>
                    {% endfor %}
                </ul>
                <div class="fed-page-info fed-text-center" data-page-no="{{ page_vo.page_no }}" data-count="{{ page_vo.total }}"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="../../static/js/pagination.js"></script>
    <script>
    $(function(){
        $('.fed-page-info').pagination(function(pageNo){
            let to_url = window.location.href;
            to_url = to_url.split('?')[0]+'?p='+pageNo;
            window.location.href = to_url;
        });
    })
    </script>
{% endblock %}