{% extends './default.html' %}
{% block body %}
    <div class="fed-main-info fed-min-width">
        <div class="fed-part-case">
            <!-- 轮播图 -->
            {% include './layout/banner.html' %}
            <div class="fed-scre-list fed-part-layout fed-back-whits fed-part-rows">
                <dl class="fed-col-sx12 fed-col-sm6 fed-col-md4">
                    <dt>分类</dt>
                    {% for tty in tv_more.tv_types %}
                        <dd><a href="/cnm/{{ ('tv_type_html;;;'+tv_more.cur_type+'@'+tty[0])|b64encode }}">{{ tty[1] }}</a></dd>
                    {% endfor %}
                </dl>
                <dl class="fed-col-sx12 fed-col-sm6 fed-col-md4 fed-hide-sm fed-show-md-block">
                    <dt>年代</dt>
                    {% for yy in tv_years %}
                        <dd><a href="/cnm/{{ ('tv_type_4_between_year_html;;;'+tv_more.cur_type+'@'+(yy|str_split(':')|get_list(0)))|b64encode }}">
                            {{ yy|str_split(':')|get_list(2) }}
                        </a></dd>
                    {% endfor %}
                </dl>
                <dl class="fed-col-sx12 fed-col-sm6 fed-col-md4">
                    <dt>地区</dt>
                    {% for aa in tv_more.tv_areas %}
                        <dd><a href="/cnm/{{ ('tv_type_4_area_html;;;'+aa)|b64encode }}">{{ aa }}</a></dd>
                    {% endfor %}
                    <dd><a href="/cnm/{{ 'tv_type_4_area_html;;;other'|b64encode }}">其他</a></dd>
                </dl>
            </div>
            <div class="fed-part-layout fed-back-whits">
                <div class="fed-list-head fed-part-rows fed-padding">
                    <h2 class="fed-font-xvi">最近更新</h2>
                    <ul class="fed-part-tips fed-padding">
                        <li>今日更新&nbsp;<span class="fed-text-green">{{ _today }}</span>&nbsp;部&nbsp;&nbsp;共&nbsp;<span
                                class="fed-text-green">{{ _total }}&nbsp;</span>部
                        </li>
{#                        <li><a class="fed-more" href="">更多</a></li>#}
                    </ul>
                </div>
                <ul class="fed-list-info fed-part-rows">
                    {% for new in tv_more.tv_news %}
                        <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                        <a class="fed-list-pics fed-lazy fed-part-2by3" href="/cnm/{{ ('tv_detail_html;;;'+new.tv_id)|b64encode }}"
                           style="display: block; background-image: url('http://img.yoviptv.com/{{ new.tv_id }}.jpg');">
                            <span class="fed-list-play fed-hide-xs"></span>
                            <span class="fed-list-score fed-font-xii fed-back-green">{{ new.tv_area }}</span>
                            <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">
                                {{ new.update_time|string|truncate(13,end='') }}
                            </span>
                        </a>
                        <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                           href="/cnm/{{ ('tv_detail_html;;;'+new.tv_id)|b64encode }}">{{ new.tv_name }}</a>
                        <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
                            {{ new.tv_actors }}
                        </span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% for tty in tv_more.tv_types %}
                <div class="fed-part-layout fed-back-whits">
                <div class="fed-list-head fed-part-rows fed-padding">
                    <h2 class="fed-font-xvi">{{ tty[1] }}</h2>
                    <ul class="fed-part-tips fed-padding">
                        <li><a class="fed-more" href="/cnm/{{ ('tv_type_html;;;'+tv_more.cur_type+'@'+tty[0])|b64encode }}">更多</a></li>
                    </ul>
                </div>
                <ul class="fed-list-info fed-part-rows">
                    {% for tv in tv_more[tty[1]] %}
                    <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                        <a class="fed-list-pics fed-lazy fed-part-2by3" href="/cnm/{{ ('tv_detail_html;;;'+tv.tv_id)|b64encode }}"
                           style="display: block; background-image: url('http://img.yoviptv.com/{{tv.tv_id}}.jpg');">
                            <span class="fed-list-play fed-hide-xs"></span>
                            <span class="fed-list-score fed-font-xii fed-back-green">{{ tv.tv_area }}</span>
                            <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">{{ tv.tv_year }}</span>
                        </a>
                        <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                           href="/cnm/{{ ('tv_detail_html;;;'+tv.tv_id)|b64encode }}">{{ tv.tv_name }}</a>
                        <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
                            {{ tv.tv_actors }}
                        </span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block js %}
{% endblock %}