{% extends './default.html' %}
{% block body %}
    <div class="fed-main-info fed-min-width">
        <div class="fed-part-case">
{#            <div class="fed-swip-container fed-part-rows swiper-container-horizontal">#}
{#                <ul class="fed-swip-wrapper fed-font-size"#}
{#                    style="transform: translate3d(-1438px, 0px, 0px); transition-duration: 0ms;">#}
{#                    <li class="fed-swip-slide fed-marg-top swiper-slide-duplicate swiper-slide-duplicate-next"#}
{#                        data-swiper-slide-index="2" style="width: 719px;">#}
{#                        <a class="fed-list-pics fed-part-5by2 fed-swip-lazy swiper-lazy-loaded"#}
{#                           href="/voddetail/82954.html"#}
{#                           style="background-image: url(&quot;https://liangcang-material.alicdn.com/prod/upload/a61439e30f8f46ec8034689bfa4ef241.jpg&quot;);">#}
{#                            <div class="fed-swip-title fed-text-white fed-part-eone">#}
{#                                <span class="fed-part-eone fed-font-xviii fed-swip-head">绝命心魔录</span>#}
{#                                <span class="fed-part-eone fed-font-xii">HD</span>#}
{#                            </div>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="fed-swip-slide fed-marg-top swiper-slide-prev" data-swiper-slide-index="0"#}
{#                        style="width: 719px;">#}
{#                        <a class="fed-list-pics fed-part-5by2 fed-swip-lazy swiper-lazy-loaded"#}
{#                           href="/voddetail/104966.html"#}
{#                           style="background-image: url(&quot;/upload/vod/20190613-1/a7c47493e71f42ce947feae1abc57bbb.jpg&quot;);">#}
{#                            <div class="fed-swip-title fed-text-white fed-part-eone">#}
{#                                <span class="fed-part-eone fed-font-xviii fed-swip-head">追龙Ⅱ</span>#}
{#                                <span class="fed-part-eone fed-font-xii">HC</span>#}
{#                            </div>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="fed-swip-slide fed-marg-top swiper-slide-active" data-swiper-slide-index="1"#}
{#                        style="width: 719px;">#}
{#                        <a class="fed-list-pics fed-part-5by2 fed-swip-lazy swiper-lazy-loaded"#}
{#                           href="/voddetail/105006.html"#}
{#                           style="background-image: url(&quot;https://liangcang-material.alicdn.com/prod/upload/80ac3b7760d64510b4a47e1656d62e2e.jpg&quot;);">#}
{#                            <div class="fed-swip-title fed-text-white fed-part-eone">#}
{#                                <span class="fed-part-eone fed-font-xviii fed-swip-head">黑衣人：全球追缉</span>#}
{#                                <span class="fed-part-eone fed-font-xii">HC中字</span>#}
{#                            </div>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="fed-swip-slide fed-marg-top swiper-slide-next" data-swiper-slide-index="2"#}
{#                        style="width: 719px;">#}
{#                        <a class="fed-list-pics fed-part-5by2 fed-swip-lazy swiper-lazy-loaded"#}
{#                           href="/voddetail/82954.html"#}
{#                           style="background-image: url(&quot;https://liangcang-material.alicdn.com/prod/upload/a61439e30f8f46ec8034689bfa4ef241.jpg&quot;);">#}
{#                            <div class="fed-swip-title fed-text-white fed-part-eone">#}
{#                                <span class="fed-part-eone fed-font-xviii fed-swip-head">绝命心魔录</span>#}
{#                                <span class="fed-part-eone fed-font-xii">HD</span>#}
{#                            </div>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="fed-swip-slide fed-marg-top swiper-slide-duplicate swiper-slide-duplicate-prev"#}
{#                        data-swiper-slide-index="0" style="width: 719px;">#}
{#                        <a class="fed-list-pics fed-part-5by2 fed-swip-lazy swiper-lazy-loaded"#}
{#                           href="/voddetail/104966.html"#}
{#                           style="background-image: url(&quot;/upload/vod/20190613-1/a7c47493e71f42ce947feae1abc57bbb.jpg&quot;);">#}
{#                            <div class="fed-swip-title fed-text-white fed-part-eone">#}
{#                                <span class="fed-part-eone fed-font-xviii fed-swip-head">追龙Ⅱ</span>#}
{#                                <span class="fed-part-eone fed-font-xii">HC</span>#}
{#                            </div>#}
{#                        </a>#}
{#                    </li>#}
{#                </ul>#}
{#                <div class="fed-swip-pagin fed-font-size fed-text-right swiper-pagination-clickable swiper-pagination-bullets">#}
{#                    <span class="fed-swip-bullet"></span><span class="fed-swip-bullet fed-swip-this"></span><span#}
{#                        class="fed-swip-bullet"></span></div>#}
{#                <a class="fed-swip-next fed-text-white fed-text-center fed-hide-xs fed-icon-font fed-icon-you"#}
{#                   href="javascript:;"></a>#}
{#                <a class="fed-swip-prev fed-text-white fed-text-center fed-hide-xs fed-icon-font fed-icon-zuo"#}
{#                   href="javascript:;"></a>#}
{#            </div>#}
            <div class="fed-scre-list fed-part-layout fed-back-whits fed-part-rows">
                <dl class="fed-col-sx12 fed-col-sm6 fed-col-md4">
                    <dt>分类</dt>
                    {% for tty in tv_more.tv_types %}
                        <dd><a href="/t-t/{{ tv_more.cur_type }}-{{ tty[0] }}">{{ tty[1] }}</a></dd>
                    {% endfor %}
                </dl>
                <dl class="fed-col-sx12 fed-col-sm6 fed-col-md4 fed-hide-sm fed-show-md-block">
                    <dt>年代</dt>
                    {% for yy in tv_more.tv_years %}
                        <dd><a href="/t-t/year_bt-{{ tv_more.cur_type }}-{{ yy|str_split(':')|get_list(0) }}">
                            {{ yy|str_split(':')|get_list(2) }}
                        </a></dd>
                    {% endfor %}
                </dl>
                <dl class="fed-col-sx12 fed-col-sm6 fed-col-md4">
                    <dt>地区</dt>
                    {% for aa in tv_more.tv_areas %}
                        <dd><a href="/t-t/area={{ aa|b64encode }}">{{ aa }}</a></dd>
                    {% endfor %}
                    <dd><a href="/t-t/area={{ 'other'|b64encode }}">其他</a></dd>
                </dl>
            </div>
            <div class="fed-part-layout fed-back-whits">
                <div class="fed-list-head fed-part-rows fed-padding">
                    <h2 class="fed-font-xvi">最近更新</h2>
                    <ul class="fed-part-tips fed-padding">
                        <li>今日更新&nbsp;<span class="fed-text-green">{{ _today }}</span>&nbsp;部&nbsp;&nbsp;共&nbsp;<span
                                class="fed-text-green">{{ _total }}&nbsp;</span>部
                        </li>
{#                        <li><a class="fed-more" href="">更多</a></li>#}
                    </ul>
                </div>
                <ul class="fed-list-info fed-part-rows">
                    {% for new in tv_more.tv_news %}
                        <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                        <a class="fed-list-pics fed-lazy fed-part-2by3" href="/t-d/{{ new.tv_id|b64encode }}"
                           style="display: block; background-image: url({{ new.tv_img }});">
                            <span class="fed-list-play fed-hide-xs"></span>
                            <span class="fed-list-score fed-font-xii fed-back-green">{{ new.tv_area }}</span>
                            <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">
                                {{ new.update_time|string|truncate(13,end='') }}
                            </span>
                        </a>
                        <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                           href="/t-d/{{ new.tv_id|b64encode }}">{{ new.tv_name }}</a>
                        <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
建泽正</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% for tty in tv_more.tv_types %}
                <div class="fed-part-layout fed-back-whits">
                <div class="fed-list-head fed-part-rows fed-padding">
                    <h2 class="fed-font-xvi">{{ tty[1] }}</h2>
                    <ul class="fed-part-tips fed-padding">
                        <li><a class="fed-more" href="/t-t/{{ tv_more.cur_type }}-{{ tty[0] }}">更多</a></li>
                    </ul>
                </div>
                <ul class="fed-list-info fed-part-rows">
                    {% for tv in tv_more[tty[1]] %}
                    <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                        <a class="fed-list-pics fed-lazy fed-part-2by3" href="/t-d/{{ tv.tv_id|b64encode }}" style="display: block; background-image: url({{tv.tv_img}});">
                            <span class="fed-list-play fed-hide-xs"></span>
                            <span class="fed-list-score fed-font-xii fed-back-green">{{ tv.tv_area }}</span>
                            <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">{{ tv.tv_year }}</span>
                        </a>
                        <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                           href="/t-d/{{ tv.tv_id|b64encode }}">{{ tv.tv_name }}</a>
                        <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
                            {{ tv.tv_actors }}
                        </span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block js %}
{% endblock %}