{% extends './default.html' %}
{% block body %}
<div class="fed-main-info fed-min-width">
    <div class="fed-part-case">

        <div class="fed-casc-info fed-part-layout fed-back-whits fed-part-rows">
            <div class="fed-casc-list fed-part-rows">
                <dl>
                    <dt>频道</dt>
                    <dd><a class="fed-this fed-text-green" href="/vodshow/dianying-----------.html">电影</a></dd>
                    <dd><a href="/vodshow/lianxuju-----------.html">连续剧</a></dd>
                    <dd><a href="/vodshow/zongyi-----------.html">综艺</a></dd>
                    <dd><a href="/vodshow/dongman-----------.html">动漫</a></dd>
                </dl>
                <dl>
                    <dt>分类</dt>
                    <dd><a href="/vodshow/dianying-----------.html">全部</a></dd>
                    <dd><a class="fed-this fed-text-green" href="/vodshow/dongzuopian-----------.html">动作片</a></dd>
                    <dd><a href="/vodshow/xijupian-----------.html">喜剧片</a></dd>
                    <dd><a href="/vodshow/aiqingpian-----------.html">爱情片</a></dd>
                    <dd><a href="/vodshow/kehuanpian-----------.html">科幻片</a></dd>
                    <dd><a href="/vodshow/kongbupian-----------.html">恐怖片</a></dd>
                    <dd><a href="/vodshow/juqingpian-----------.html">剧情片</a></dd>
                    <dd><a href="/vodshow/zhanzhengpian-----------.html">战争片</a></dd>
                </dl>
                <dl>
                    <dt>地区</dt>
                    <dd><a class="fed-this fed-text-green" href="/vodshow/dongzuopian-----------.html">全部</a></dd>
                    <dd><a href="/vodshow/dongzuopian-%E5%A4%A7%E9%99%86----------.html">大陆</a></dd>
                    <dd><a href="/vodshow/dongzuopian-%E9%A6%99%E6%B8%AF----------.html">香港</a></dd>
                    <dd><a href="/vodshow/dongzuopian-%E5%8F%B0%E6%B9%BE----------.html">台湾</a></dd>
                    <dd><a href="/vodshow/dongzuopian-%E7%BE%8E%E5%9B%BD----------.html">美国</a></dd>
                    <dd><a href="/vodshow/dongzuopian-%E6%B3%95%E5%9B%BD----------.html">法国</a></dd>
                    <dd><a href="/vodshow/dongzuopian-%E8%8B%B1%E5%9B%BD----------.html">英国</a></dd>
                    <dd><a href="/vodshow/dongzuopian-%E6%97%A5%E6%9C%AC----------.html">日本</a></dd>
                    <dd><a href="/vodshow/dongzuopian-%E9%9F%A9%E5%9B%BD----------.html">韩国</a></dd>
                    <dd><a href="/vodshow/dongzuopian-%E5%BE%B7%E5%9B%BD----------.html">德国</a></dd>
                    <dd><a href="/vodshow/dongzuopian-%E6%B3%B0%E5%9B%BD----------.html">泰国</a></dd>
                    <dd><a href="/vodshow/dongzuopian-%E5%8D%B0%E5%BA%A6----------.html">印度</a></dd>
                    <dd><a href="/vodshow/dongzuopian-%E6%84%8F%E5%A4%A7%E5%88%A9----------.html">意大利</a></dd>
                    <dd><a href="/vodshow/dongzuopian-%E8%A5%BF%E7%8F%AD%E7%89%99----------.html">西班牙</a></dd>
                    <dd><a href="/vodshow/dongzuopian-%E5%8A%A0%E6%8B%BF%E5%A4%A7----------.html">加拿大</a></dd>
                    <dd><a href="/vodshow/dongzuopian-%E5%85%B6%E4%BB%96----------.html">其他</a></dd>
                </dl>
                <dl>
                    <dt>年代</dt>
                    <dd><a class="fed-this fed-text-green" href="/vodshow/dongzuopian-----------.html">全部</a></dd>
                    <dd><a href="/vodshow/dongzuopian-----------2019.html">2019</a></dd>
                    <dd><a href="/vodshow/dongzuopian-----------2018.html">2018</a></dd>
                    <dd><a href="/vodshow/dongzuopian-----------2017.html">2017</a></dd>
                    <dd><a href="/vodshow/dongzuopian-----------2016.html">2016</a></dd>
                    <dd><a href="/vodshow/dongzuopian-----------2015.html">2015</a></dd>
                    <dd><a href="/vodshow/dongzuopian-----------2014.html">2014</a></dd>
                    <dd><a href="/vodshow/dongzuopian-----------2013.html">2013</a></dd>
                    <dd><a href="/vodshow/dongzuopian-----------2012.html">2012</a></dd>
                    <dd><a href="/vodshow/dongzuopian-----------2011.html">2011</a></dd>
                    <dd><a href="/vodshow/dongzuopian-----------2010.html">2010</a></dd>
                </dl>
            </div>
        </div>
        <div class="fed-part-layout fed-back-whits">
            <div class="fed-list-head fed-part-rows fed-padding">
                <h2 class="fed-font-xvi">
                    <a href="/vodshow/dongzuopian--time---------.html" class="fed-text-bold fed-text-green">按时间</a>
                    <a href="/vodshow/dongzuopian--hits---------.html">按人气</a>
                    <a href="/vodshow/dongzuopian--score---------.html">按评分</a>
                </h2>
                <ul class="fed-part-tips fed-padding">
                    <li><span class="fed-more"><span class="fed-hide-xs">当前第&nbsp;<span id="fed-now"
                                                                                        class="fed-text-green fed-text-bold">1</span>&nbsp;页，</span>共&nbsp;<span
                            id="fed-count" class="fed-text-green fed-text-bold">3893</span>&nbsp;个影片</span></li>
                </ul>
            </div>
            <ul class="fed-list-info fed-part-rows">
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/105895.html"
                       data-original="https://img.pic-imges.com/pic/upload/vod/2019-06/15616996930.jpg"
                       style="display: block; background-image: url(&quot;https://img.pic-imges.com/pic/upload/vod/2019-06/15616996930.jpg&quot;);">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">2.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/105895.html">潜行者2019</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
伍允龙,吴建豪,安志杰,谢霆锋,冯文娟,蒋璐霞,赵慧珊,迟帅,孟佳,伦阿兹,吴家丽,邵音音,林雪</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/105713.html"
                       data-original="https://img.pic-imges.com/pic/upload/vod/2019-06/15616471496.jpg"
                       style="display: block; background-image: url(&quot;https://img.pic-imges.com/pic/upload/vod/2019-06/15616471496.jpg&quot;);">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">2.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/105713.html">猎豹行动</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
钟发,张耀扬</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/105848.html"
                       data-original="https://img.1977zy.cc/upload/vod/2019-06-27/201906271561632111.jpg"
                       style="display: block; background-image: url(&quot;https://img.1977zy.cc/upload/vod/2019-06-27/201906271561632111.jpg&quot;);">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">10.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD1280高清中字版</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/105848.html">智深传2</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
晋松,谭旭,叶新晨,南伏龙</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/105850.html"
                       data-original="https://img.pic-imges.com/pic/upload/vod/2019-06/15616339611.jpg"
                       style="display: block; background-image: url(&quot;https://img.pic-imges.com/pic/upload/vod/2019-06/15616339611.jpg&quot;);">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">2.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/105850.html">绣春伏魔传之血战富士山</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
瞿澳晖,Aohui,Qu,王泊淞</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/105849.html"
                       data-original="https://img.pic-imges.com/pic/upload/vod/2019-06/15616317051.jpg"
                       style="display: block; background-image: url(&quot;https://img.pic-imges.com/pic/upload/vod/2019-06/15616317051.jpg&quot;);">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">4.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/105849.html">最后的勇士</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
维克多·霍林雅克,米拉·斯瓦奇卡娅,叶卡婕琳娜·维尔科娃,康斯坦丁·拉夫罗年科,伊连娜·雅科夫列娃,谢尔盖·布鲁诺夫,Evgeniy,Dyatlov,Timofey,Tribuntsev,Svetlana,Kolpakova,亚历山大·塞梅切夫,尤里·楚里洛,沃尔夫冈·塞尔尼,Elena,Valyushkina,德米特里·雷先科夫,尼古拉·谢雷波,Anton,Dyorov,玛丽娜·祖巴诺娃,阿列克谢·谢列布里亚科夫</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/105807.html"
                       data-original="https://img.pic-imges.com/pic/upload/vod/2019-06/15615391010.jpg"
                       style="display: block; background-image: url(&quot;https://img.pic-imges.com/pic/upload/vod/2019-06/15615391010.jpg&quot;);">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">6.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/105807.html">恶人传</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
马东锡,金武烈,金成圭</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/105803.html"
                       data-original="https://img.pic-imges.com/pic/upload/vod/2019-06/156153443519.jpg"
                       style="display: block; background-image: url(&quot;https://img.pic-imges.com/pic/upload/vod/2019-06/156153443519.jpg&quot;);">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">9.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/105803.html">巡弋悍将</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
伊丽莎白·赫利,,韦斯利·斯奈普斯,汤姆·塞兹摩尔</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/105785.html"
                       data-original="https://img.pic-imges.com/pic/upload/vod/2019-06/15615287270.jpg"
                       style="display: block; background-image: url(&quot;https://img.pic-imges.com/pic/upload/vod/2019-06/15615287270.jpg&quot;);">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">1.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/105785.html">嗜血龙鳞诀</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
吴洲凯,Zhoukai,Wu,刘熙,晁志谦</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/98622.html"
                       data-original="https://img.pic-imges.com/pic/upload/vod/2019-04/201904061554520108.jpg"
                       style="display: block; background-image: url(&quot;https://img.pic-imges.com/pic/upload/vod/2019-04/201904061554520108.jpg&quot;);">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">9.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">BD</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/98622.html">雷霆沙赞</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
,扎克瑞·莱维,马克·斯特朗,亚瑟·安其,杰克·迪伦·格雷泽,杰曼·翰苏,费斯·赫尔曼,约文·阿曼德,陈琦烨,格蕾丝·富尔顿,亚当·布罗迪,梅根·古德,米歇尔·博斯,罗斯·巴特勒,马尔塔·米兰斯,库珀·安德鲁斯,罗维娜·亚瓦里,埃文·马什,娜塔莉亚姗福瑞,D·J·科特罗纳,艾娃·普雷斯顿,安迪·奥修,卡尔森·迈克马克,莎伊娜·瑞恩,莎拉·贝纳尼,安吉莉卡·利斯克,辛迪·戴,洛塔·洛森,西蒙·诺斯伍德</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/105806.html"
                       data-original="https://img.pic-imges.com/pic/upload/vod/2019-06/15615350200.jpg"
                       style="display: block; background-image: url(&quot;https://img.pic-imges.com/pic/upload/vod/2019-06/15615350200.jpg&quot;);">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">7.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/105806.html">至尊无上II之永霸天下</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
刘德华,吴倩莲,王杰,黄秋生,陈法蓉</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/51227.html"
                       data-original="https://img.pic-imges.com/pic/upload/vod/2018-02/201802021517546386.jpg"
                       style="display: block; background-image: url(&quot;https://img.pic-imges.com/pic/upload/vod/2018-02/201802021517546386.jpg&quot;);">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">6.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/51227.html">越狱</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
胜见,Jean-Paul,Ly,Lida,Duch,Sisowath,Siriwudd</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/105191.html"
                       data-original="https://img.1977zy.cc/upload/vod/2019-06-27/201906271561631766.jpg"
                       style="display: block; background-image: url(&quot;https://img.1977zy.cc/upload/vod/2019-06-27/201906271561631766.jpg&quot;);">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">5.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD1280高清中字版</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/105191.html">同门义</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
孙昊,王俐丹,张建声</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/43126.html"
                       data-original="https://img.1977zy.cc/upload/vod/2019-06-27/201906271561628265.jpg">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">10.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD1280高清中字版</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/43126.html">笑傲江湖</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
许冠杰,叶童,张学友,张敏,袁洁莹</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/105843.html"
                       data-original="https://img.1977zy.cc/upload/vod/2019-06-27/201906271561631251.jpg">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">2.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD1280高清中字版</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/105843.html">精武陈真</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
陈奕名,刘倩妤,赵铁英,桑伟淋,张德晖,徐沅澔</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/105839.html"
                       data-original="https://img.1977zy.cc/upload/vod/2019-06-27/201906271561626616.jpg">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">1.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD1280高清中字版</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/105839.html">孔雀王朝</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
姜大卫,井莉,王钟,罗烈,陈萍</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/105838.html"
                       data-original="https://img.1977zy.cc/upload/vod/2019-06-27/201906271561626430.jpg">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">4.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD1280高清中字版</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/105838.html">绝代双骄</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
刘德华,林青霞,张敏,吴孟达,顾美华,吴镇宇,袁咏仪,叶德娴</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/105837.html"
                       data-original="https://img.1977zy.cc/upload/vod/2019-06-27/201906271561626334.jpg">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">9.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD1280高清中字版</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/105837.html">虎胆</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
郑佩佩,岳华,罗维,吴风,田丰</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/105836.html"
                       data-original="https://img.1977zy.cc/upload/vod/2019-06-27/201906271561625490.jpg">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">1.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD1280高清中字版</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/105836.html">豪侠传</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
李菁,唐菁,谷峰,井淼</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/105834.html"
                       data-original="https://img.1977zy.cc/upload/vod/2019-06-27/201906271561623069.jpg">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">8.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD1280高清中英双字版</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/105834.html">守日人</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
康斯坦丁·哈宾斯基,玛利亚·巴洛申娜,弗拉基米尔·缅绍夫,加林娜·秋宁娜</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/82608.html"
                       data-original="https://img.1977zy.cc/upload/vod/2019-04-11/201904111554988095.jpg">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">5.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD1280高清中字版</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/82608.html">龙武士</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
麦特·佛莱尔,赵刚</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/79224.html"
                       data-original="https://img.1977zy.cc/upload/vod/2019-04-13/201904131555128462.jpg">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">2.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD1280高清国语中字版</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/79224.html">生死决</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
徐少强,刘松仁,高雄,张冲,张天爱</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/64308.html"
                       data-original="https://img.1977zy.cc/upload/vod/2019-06-27/201906271561627045.jpg">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">4.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD1280高清中字版</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/64308.html">日劫</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
钟楚红,尔冬升,顾冠忠,龙天翔</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/63414.html"
                       data-original="https://img.1977zy.cc/upload/vod/2019-04-12/201904121555064936.jpg">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">9.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD1280高清中字版</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/63414.html">少林三十六房</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
刘家辉,罗烈,刘家荣,徐少强,张午郎</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/63148.html"
                       data-original="https://img.1977zy.cc/upload/vod/2019-04-12/201904121555056306.jpg">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">9.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD1280高清中字</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/63148.html">大刺客</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
王羽,焦姣,李香君,田丰,黄宗迅</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/63112.html"
                       data-original="https://img.1977zy.cc/upload/vod/2019-04-12/201904121555065420.jpg">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">6.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD1280高清中字版</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/63112.html">少林与武当</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
罗莽,孙建,江生,文雪儿,王力</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/63106.html"
                       data-original="http://img3.doubanio.com/view/photo/s_ratio_poster/public/p2343245231.jpg">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">5.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD1280高清国语中字版</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/63106.html">南少林与北少林</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
罗莽,江生,郭追,鹿峰,孙建</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/58458.html"
                       data-original="https://img.1977zy.cc/upload/vod/2019-06-27/201906271561624968.jpg">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">10.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD1280高清中字版</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/58458.html">楚留香后传之西门无恨</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
杨均均</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/58449.html"
                       data-original="https://img.1977zy.cc/upload/vod/2019-06-27/201906271561627818.jpg">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">6.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD1280高清中字版</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/58449.html">无名三侠客</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
王珏,张春燕,黄德刚,周龙,李志洲</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/94954.html"
                       data-original="https://img.1977zy.cc/upload/vod/2019-06-27/201906271561625199.jpg">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">4.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD1280高清中字版</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/94954.html">东方不败风云再起</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
林青霞,王祖贤,王静莹,于荣光</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/52989.html"
                       data-original="https://img.tupian-zuida.com/pic/upload/vod/2017-03-12/148927309116.jpg">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">7.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD1280高清国语版</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/52989.html">八卦宗师</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
欧力豪,谢苗,孙夕尧,梁小龙,刘锡明</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/52783.html"
                       data-original="https://img.1977zy.cc/upload/vod/2019-06-27/201906271561626130.jpg">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">10.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD1280高清中字版</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/52783.html">红姑寨恩仇记</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
张鸣鸣,朱华,田岷,熊大桦</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/52366.html"
                       data-original="https://img.1977zy.cc/upload/vod/2019-06-27/201906271561625286.jpg">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">9.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD1280高清中字版</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/52366.html">多情剑客无情剑</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
狄龙,尔冬升,岳华,余安安,艾飞</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/50577.html"
                       data-original="https://img.1977zy.cc/upload/vod/2019-04-12/201904121555057922.jpg">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">7.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD1280高清中字版</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/50577.html">水儿武士</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
董玮,万梓良,余安安,惠英红,梁家辉</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/40770.html"
                       data-original="https://img.1977zy.cc/upload/vod/2019-06-27/201906271561628081.jpg">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">6.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD1280高清中字版</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/40770.html">侠骨风流</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
董洪林,杨凤一</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/44131.html"
                       data-original="https://img.tupian-zuida.com/pic/upload/vod/2018-01-16/201801161516086226.jpg">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">7.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">BD1024高清中英双字版</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/44131.html">指环王1：魔戒再现</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
伊利亚·伍德,西恩·奥斯汀,伊恩·麦克莱恩,维果·莫腾森</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/103821.html"
                       data-original="https://img.1977zy.cc/upload/vod/2019-06-27/201906271561622313.jpg">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">4.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD1280高清中英双字版</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/103821.html">波西·杰克逊与魔兽之海</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
罗根·勒曼,亚历珊德拉·达达里奥,布兰登·T·杰克逊,道格拉斯·史密斯</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/41823.html"
                       data-original="https://img.tupian-zuida.com/pic/upload/vod/2018-04-23/201804231524450359.jpg">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">1.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">BD1280高清中英双字版</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/41823.html">X战警：逆转未来</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
詹姆斯·麦卡沃伊,迈克尔·法斯宾德,詹妮弗·劳伦斯,尼古拉斯·霍尔特,奥斯卡·伊萨克</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/41390.html"
                       data-original="https://img.tupian-zuida.com/pic/upload/vod/2017-03-12/14892719707.jpg">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">9.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">BD1280高清中英双字版</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/41390.html">神奇动物在哪里</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
埃迪·雷德梅恩,凯瑟琳·沃特斯顿</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/39954.html"
                       data-original="https://img.1977zy.cc/upload/vod/2019-04-20/201904201555743538.jpg">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">7.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD1280高清中字</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/39954.html">刀锋战士3</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
韦斯利·斯奈普斯,克里斯·克里斯托佛森,多米尼克·珀塞尔,杰西卡·贝尔,瑞恩·雷诺兹</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/105832.html"
                       data-original="https://img.1977zy.cc/upload/vod/2019-06-27/201906271561619202.jpg">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">8.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD1280高清中英双字版</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/105832.html">勇敢者游戏2</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
道恩·强森,凯伦·吉兰,麦迪森·伊瑟曼,奥卡菲娜,凯文·哈特,杰克·布莱克,尼克·乔纳斯,丹尼·德维托,科林·汉克斯,摩根·特纳,亚历克斯·沃尔夫,丹妮亚·拉米雷兹,瑞斯·达比,丹尼·格洛弗,瑟达吕斯·布兰,尼克·戈麦斯,布鲁诺·罗斯,莎拉·贝纳尼,查尔斯·格林,迈克尔·比斯利,保罗·皮尔斯伯里,萨尔·隆戈巴尔多,约翰·盖蒂尔</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/66894.html"
                       data-original="https://img.1977zy.cc/upload/vod/2019-06-27/201906271561619075.jpg">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">6.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD1280高清中英双字版</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/66894.html">永远的蝙蝠侠</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
方·基默,汤米·李·琼斯,金·凯瑞,妮可·基德曼</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/44579.html"
                       data-original="https://img.tupian-zuida.com/pic/upload/vod/2018-08-04/201808041533318399.jpg">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">3.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">BD1280高清中英双字版</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/44579.html">异星战场</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
泰勒·克奇,琳恩·柯林斯,托马斯·哈登·丘奇,威廉·达福,萨曼莎·莫顿</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/105830.html"
                       data-original="https://img.1977zy.cc/upload/vod/2019-06-27/201906271561617486.jpg">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">8.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD1280高清中英双字版</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/105830.html">乌鸦 2：天使之城</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
文森特·佩雷斯,米娅·科施娜,理查德·布鲁克斯</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/89790.html"
                       data-original="https://img.1977zy.cc/upload/vod/2019-06-27/201906271561617699.jpg">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">7.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD1280高清中英双字版</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/89790.html">吸血鬼猎人林肯</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
本杰明·沃克,卢夫斯·塞维尔,多米尼克·库珀,玛丽·伊丽莎白·温斯特德</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/104143.html"
                       data-original="https://img.1977zy.cc/upload/vod/2019-06-27/201906271561617805.jpg">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">5.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD1280高清中英双字版</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/104143.html">奇趣马戏团：吸血鬼的助手</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
克里斯·马索格利亚,约翰·C·赖利,萨尔玛·海耶克,乔什·哈切森</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/52279.html"
                       data-original="https://img.1977zy.cc/upload/vod/2019-06-27/201906271561617642.jpg">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">4.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD1280高清中字版</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/52279.html">武林圣火令</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
郭追,刘雪华,翁静晶,莫少聪,詹森</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/42511.html"
                       data-original="https://img.tupian-zuida.com/pic/upload/vod/2017-06-28/201706281498587049.jpg">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">1.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">BD1280高清中英双字版</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/42511.html">亚瑟王：斗兽争霸</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
查理·汉纳姆,裘德·洛,阿斯特丽德·伯格斯-弗瑞斯贝,米卡埃尔·佩斯布兰特</span>
                </li>
                <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                    <a class="fed-list-pics fed-lazy fed-part-2by3" href="/voddetail/105771.html"
                       data-original="http://img.pic-imges.com/pic/upload/vod/2019-06/15614586166.jpg">
                        <span class="fed-list-play fed-hide-xs"></span>
                        <span class="fed-list-score fed-font-xii fed-back-green">2.0</span>
                        <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">HD</span>
                    </a>
                    <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                       href="/voddetail/105771.html">上海滩十三太保</a>
                    <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
狄龙,姜大卫,梁家仁,王羽,李修贤,刘德华,陈观泰,朱海玲</span>
                </li>
            </ul>
            <div class="fed-page-info fed-text-center" data-page-no="{{ page_vo.page_no }}" data-count="{{ page_vo.total }}"></div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
    <script src="../../static/js/pagination.js"></script>
    <script>
    $(function(){
        $('.fed-page-info').pagination(function(pageNo){
            let to_url = window.location.href;
            to_url = to_url.split('?')[0]+'?p='+pageNo;
            window.location.href = to_url;
        });
    })
    </script>
{% endblock %}