{% extends './default.html' %}

{% block body %}
    <div class="fed-main-info fed-min-width">
        <div class="fed-part-case">
            <!-- 轮播图开始 -->
{#            <div class="fed-swip-container fed-part-rows swiper-container-horizontal">#}
{#                <ul class="fed-swip-wrapper fed-font-size"#}
{#                    style="transform: translate3d(-2340px, 0px, 0px); transition-duration: 0ms;">#}
{#                    <li class="fed-swip-slide fed-marg-top swiper-slide-duplicate" data-swiper-slide-index="4"#}
{#                        style="width: 1170px;">#}
{#                        <a class="fed-list-pics fed-part-5by2 fed-swip-lazy swiper-lazy-loaded"#}
{#                           href="/voddetail/105006.html"#}
{#                           style="background-image: url(&quot;https://liangcang-material.alicdn.com/prod/upload/80ac3b7760d64510b4a47e1656d62e2e.jpg&quot;);">#}
{#                            <div class="fed-swip-title fed-text-white fed-part-eone">#}
{#                                <span class="fed-part-eone fed-font-xviii fed-swip-head">黑衣人：全球追缉</span>#}
{#                                <span class="fed-part-eone fed-font-xii">HC中字</span>#}
{#                            </div>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="fed-swip-slide fed-marg-top swiper-slide-prev" data-swiper-slide-index="0"#}
{#                        style="width: 1170px;">#}
{#                        <a class="fed-list-pics fed-part-5by2 fed-swip-lazy swiper-lazy-loaded" href="/voddetail/83039.html"#}
{#                           style="background-image: url(&quot;https://liangcang-material.alicdn.com/prod/upload/5111af66e5294e91bad687d1797b9b1d.jpg&quot;);">#}
{#                            <div class="fed-swip-title fed-text-white fed-part-eone">#}
{#                                <span class="fed-part-eone fed-font-xviii fed-swip-head">少年派</span>#}
{#                                <span class="fed-part-eone fed-font-xii">更新至33集</span>#}
{#                            </div>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="fed-swip-slide fed-marg-top swiper-slide-active" data-swiper-slide-index="1"#}
{#                        style="width: 1170px;">#}
{#                        <a class="fed-list-pics fed-part-5by2 fed-swip-lazy swiper-lazy-loaded" href="/voddetail/81726.html"#}
{#                           style="background-image: url(&quot;https://liangcang-material.alicdn.com/prod/upload/f352a1bd1bda4659b7b2cbcabc691c99.jpg&quot;);">#}
{#                            <div class="fed-swip-title fed-text-white fed-part-eone">#}
{#                                <span class="fed-part-eone fed-font-xviii fed-swip-head">一拳超人第二季</span>#}
{#                                <span class="fed-part-eone fed-font-xii">更新到11集</span>#}
{#                            </div>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="fed-swip-slide fed-marg-top swiper-slide-next" data-swiper-slide-index="2"#}
{#                        style="width: 1170px;">#}
{#                        <a class="fed-list-pics fed-part-5by2 fed-swip-lazy swiper-lazy-loaded" href="/voddetail/99904.html"#}
{#                           style="background-image: url(&quot;https://liangcang-material.alicdn.com/prod/upload/72588b637c1b4effbbe6861f19d100b9.jpg&quot;);">#}
{#                            <div class="fed-swip-title fed-text-white fed-part-eone">#}
{#                                <span class="fed-part-eone fed-font-xviii fed-swip-head">这！就是街舞 第二季</span>#}
{#                                <span class="fed-part-eone fed-font-xii">更新至20190625</span>#}
{#                            </div>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="fed-swip-slide fed-marg-top" data-swiper-slide-index="3" style="width: 1170px;">#}
{#                        <a class="fed-list-pics fed-part-5by2 fed-swip-lazy" href="/voddetail/104966.html"#}
{#                           data-background="/upload/vod/20190613-1/a7c47493e71f42ce947feae1abc57bbb.jpg">#}
{#                            <div class="fed-swip-title fed-text-white fed-part-eone">#}
{#                                <span class="fed-part-eone fed-font-xviii fed-swip-head">追龙Ⅱ</span>#}
{#                                <span class="fed-part-eone fed-font-xii">HC</span>#}
{#                            </div>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="fed-swip-slide fed-marg-top" data-swiper-slide-index="4" style="width: 1170px;">#}
{#                        <a class="fed-list-pics fed-part-5by2 fed-swip-lazy swiper-lazy-loaded"#}
{#                           href="/voddetail/105006.html"#}
{#                           style="background-image: url(&quot;https://liangcang-material.alicdn.com/prod/upload/80ac3b7760d64510b4a47e1656d62e2e.jpg&quot;);">#}
{#                            <div class="fed-swip-title fed-text-white fed-part-eone">#}
{#                                <span class="fed-part-eone fed-font-xviii fed-swip-head">黑衣人：全球追缉</span>#}
{#                                <span class="fed-part-eone fed-font-xii">HC中字</span>#}
{#                            </div>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="fed-swip-slide fed-marg-top swiper-slide-duplicate swiper-slide-duplicate-prev"#}
{#                        data-swiper-slide-index="0" style="width: 1170px;">#}
{#                        <a class="fed-list-pics fed-part-5by2 fed-swip-lazy swiper-lazy-loaded" href="/voddetail/83039.html"#}
{#                           style="background-image: url(&quot;https://liangcang-material.alicdn.com/prod/upload/5111af66e5294e91bad687d1797b9b1d.jpg&quot;);">#}
{#                            <div class="fed-swip-title fed-text-white fed-part-eone">#}
{#                                <span class="fed-part-eone fed-font-xviii fed-swip-head">少年派</span>#}
{#                                <span class="fed-part-eone fed-font-xii">更新至33集</span>#}
{#                            </div>#}
{#                        </a>#}
{#                    </li>#}
{#                </ul>#}
{#                <div class="fed-swip-pagin fed-font-size fed-text-right swiper-pagination-clickable swiper-pagination-bullets">#}
{#                    <span class="fed-swip-bullet"></span><span class="fed-swip-bullet fed-swip-this"></span><span#}
{#                        class="fed-swip-bullet"></span><span class="fed-swip-bullet"></span><span#}
{#                        class="fed-swip-bullet"></span></div>#}
{#                <a class="fed-swip-next fed-text-white fed-text-center fed-hide-xs fed-icon-font fed-icon-you"#}
{#                   href="javascript:;"></a>#}
{#                <a class="fed-swip-prev fed-text-white fed-text-center fed-hide-xs fed-icon-font fed-icon-zuo"#}
{#                   href="javascript:;"></a>#}
{#            </div>#}
            <!-- 轮播图结束 -->
            <!-- 活动通知/公告开始 -->
            <div class="fed-part-layout fed-back-whits">
                <div class="fed-padding">
                    <p>
                        <span style="color: rgb(192, 0, 0); font-size: 20px;">公告：</span>
                        <marquee onmouseover=stop() onmouseout=start()>
                            <a href="http://vip.yoviptv.com" target="_blank">
                                <span style="font-size: 18px;">本站提供各类视频（含vip视频）且免费观看。另有vip解析功能，点击此公告前往VIP视频解析...</span>
                            </a>
                        </marquee>
                    </p>
                </div>
            </div>
            <!-- 活动通知/公告结束 -->
            <!-- 最新更新开始 -->
            <div class="fed-part-layout fed-back-whits">
                <div class="fed-list-head fed-part-rows fed-padding">
                    <h2 class="fed-font-xvi">最近更新</h2>
                    <ul class="fed-part-tips fed-padding">
                        <li>今日更新&nbsp;<span class="fed-text-green">{{ today_ }}</span>&nbsp;部&nbsp;&nbsp;共&nbsp;<span
                                class="fed-text-green">{{ total_ }}&nbsp;</span>部
                        </li>
                        <li><a class="fed-more" href="/t-t/a">更多</a></li>
                    </ul>
                </div>
                <ul class="fed-list-info fed-part-rows">
                    {% for new in news%}
                        <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md2">
                            <a class="fed-list-pics fed-lazy fed-part-2by3" href="/t-d/{{ new.tv_id|b64encode }}"
                               style="display: block; background-image: url({{new.tv_img}});">
                                <span class="fed-list-play fed-hide-xs"></span>
                                <span class="fed-list-score fed-font-xii fed-back-green">{{ new.tv_type }}</span>
                                <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">更新至{{new.update_time|string|truncate(13,end='')}}</span>
                            </a>
                            <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                               href="/t-d/{{ new.tv_id|b64encode }}">{{new.tv_name}}</a>
                            <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
                                {{ new.tv_actors }}
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- 最新更新结束 -->
            <!-- 电影/电视剧/综艺/动漫开始 -->
            <div class="fed-list-home fed-part-layout fed-back-whits fed-part-rows">
                <div class="fed-list-head fed-part-rows fed-padding">
                    <h2 class="fed-font-xvi">电影</h2>
                    <ul class="fed-part-tips fed-padding">
                        {% for mt in mv_kv_type %}
                            <li class="fed-hide-xs"><a href="/t-t/mv-{{ mt[0] }}">{{ mt[1] }}</a> /</li>
                        {% endfor %}
                        <li><a class="fed-more" href="/tv/more/mv">更多</a></li>
                    </ul>
                </div>
                <div class="fed-padding fed-col-sx12 fed-col-md5">
                    <div class="fed-swip-container fed-part-rows swiper-container-horizontal">
                        <ul class="fed-swip-wrapper fed-font-size"
                            style="transform: translate3d(-910px, 0px, 0px); transition-duration: 0ms;">
                            {% for ttop in mv_top %}
                                <li class="fed-swip-slide swiper-slide-duplicate" data-swiper-slide-index="3"
                                    style="width: 455px;">
                                    <a class="fed-list-pics fed-part-3by2 fed-swip-lazy swiper-lazy-loaded"
                                       href="/t-d/{{ ttop.tv_vo.tv_id|b64encode }}" style="background-image: url({{ ttop.tv_vo.tv_img }});">
                                        <div class="fed-swip-title fed-text-white fed-part-eone">
                                            <span class="fed-part-eone fed-font-xviii fed-swip-head">{{ ttop.tv_vo.tv_name }}</span>
                                            <span class="fed-part-eone fed-font-xii">
                                                {{ ttop.tv_vo.update_time|string|truncate(13,end='') }}
                                            </span>
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="fed-swip-pagin fed-font-size fed-text-right swiper-pagination-clickable swiper-pagination-bullets">
                            <span class="fed-swip-bullet"></span><span class="fed-swip-bullet fed-swip-this"></span><span
                                class="fed-swip-bullet"></span><span class="fed-swip-bullet"></span></div>
                        <a class="fed-swip-next fed-text-white fed-text-center fed-hide-xs fed-icon-font fed-icon-you"
                           href="javascript:;"></a>
                        <a class="fed-swip-prev fed-text-white fed-text-center fed-hide-xs fed-icon-font fed-icon-zuo"
                           href="javascript:;"></a>
                    </div>
                    <div class="fed-list-info fed-list-rank fed-part-rows fed-hide-xs fed-hide-sm fed-show-md-block">
                        <h2 class="fed-list-head fed-part-rows fed-font-xvi">本周热门
{#                            <a class="fed-part-tips fed-font-xiv" href="">更多</a>#}
                        </h2>
                        <div class="fed-col-md4 fed-list-ones">
                            <a class="fed-list-pics fed-lazy fed-part-2by3" href="/t-d/{{ mv_top[0].tv_vo.tv_id|b64encode }}"
                               style="display: block; background-image: url({{mv_top[0].tv_vo.tv_img}});">
                                <span class="fed-list-play fed-hide-xs"></span>
                                <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">
                                    {{ mv_top[0].tv_vo.update_time|string|truncate(13,end='') }}
                                </span>
                            </a>
                        </div>
                        <div class="fed-col-md8">
                            <ul class="fed-part-rows">
                                {% for ttop in mv_top %}
                                    <li class="fed-part-eone
                                    {% if loop.index==6 %}fed-hide-md fed-show-lg-block{% endif %}">
                                    <a href="/t-d/{{ ttop.tv_vo.tv_id|b64encode }}">
                                        <span class="fed-part-nums fed-part-num{{ loop.index }}">{{ loop.index }}</span>
                                        {{ ttop.tv_vo.tv_name }}
                                        <span class="fed-part-tips fed-text-green">{{ ttop.tv_top }}</span></a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="fed-col-sx12 fed-col-md7">
                    <ul class="fed-list-info fed-part-rows">
                        {% for mv in mvs%}
                            <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md3
                            {% if loop.index==7 or loop.index==8 %} fed-hide-xs{% endif %}">
                                <a class="fed-list-pics fed-lazy fed-part-2by3" href="/t-d/{{ mv.tv_id|b64encode }}" style="display: block; background-image: url({{mv.tv_img}});">
                                    <span class="fed-list-play fed-hide-xs"></span>
                                    <span class="fed-list-score fed-font-xii fed-back-green">{{ mv.tv_type }}</span>
                                    <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">{{ mv.tv_lang }}</span>
                                </a>
                                <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                                   href="/t-d/{{ mv.tv_id|b64encode }}">{{ mv.tv_name }}</a>
                                <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
                                    {{ mv.tv_actors }}
                                </span>
                            </li>
                        {%endfor%}
                    </ul>
                </div>
            </div>
            <div class="fed-list-home fed-part-layout fed-back-whits fed-part-rows">
                <div class="fed-list-head fed-part-rows fed-padding">
                    <h2 class="fed-font-xvi">连续剧</h2>
                    <ul class="fed-part-tips fed-padding">
                        {% for dsjt in dsj_kv_type %}
                            <li class="fed-hide-xs"><a href="/t-t/dsj-{{ dsjt[0] }}">{{ dsjt[1] }}</a> /</li>
                        {% endfor %}
                        <li><a class="fed-more" href="/tv/more/dsj">更多</a></li>
                    </ul>
                </div>
                <div class="fed-padding fed-col-sx12 fed-col-md5">
                    <div class="fed-swip-container fed-part-rows swiper-container-horizontal">
                        <ul class="fed-swip-wrapper fed-font-size"
                            style="transform: translate3d(-910px, 0px, 0px); transition-duration: 0ms;">
                            {% for dstop in dsj_top %}
                                <li class="fed-swip-slide swiper-slide-duplicate swiper-slide-duplicate-next"
                                    style="width: 455px;">
                                    <a class="fed-list-pics fed-part-3by2 fed-swip-lazy swiper-lazy-loaded"
                                       href="/t-d/{{ dstop.tv_vo.tv_id|b64encode }}"
                                       style="background-image: url({{ dstop.tv_vo.tv_img }});">
                                        <div class="fed-swip-title fed-text-white fed-part-eone">
                                            <span class="fed-part-eone fed-font-xviii fed-swip-head">{{ dstop.tv_vo.tv_name }}</span>
                                            <span class="fed-part-eone fed-font-xii">
                                                {{ dstop.tv_vo.update_time|string|truncate(13,end='') }}
                                            </span>
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="fed-swip-pagin fed-font-size fed-text-right swiper-pagination-clickable swiper-pagination-bullets">
                            <span class="fed-swip-bullet"></span><span class="fed-swip-bullet fed-swip-this"></span><span
                                class="fed-swip-bullet"></span></div>
                        <a class="fed-swip-next fed-text-white fed-text-center fed-hide-xs fed-icon-font fed-icon-you"
                           href="javascript:;"></a>
                        <a class="fed-swip-prev fed-text-white fed-text-center fed-hide-xs fed-icon-font fed-icon-zuo"
                           href="javascript:;"></a>
                    </div>
                    <div class="fed-list-info fed-list-rank fed-part-rows fed-hide-xs fed-hide-sm fed-show-md-block">
                        <h2 class="fed-list-head fed-part-rows fed-font-xvi">本周热门
{#                            <a class="fed-part-tips fed-font-xiv" href="">更多</a>#}
                        </h2>
                        <div class="fed-col-md4 fed-list-ones">
                            <a class="fed-list-pics fed-lazy fed-part-2by3" href="/t-d/{{ dsj_top[0].tv_vo.tv_id|b64encode }}"
                               style="display: block; background-image: url({{dsj_top[0].tv_vo.tv_img}});">
                                <span class="fed-list-play fed-hide-xs"></span>
                                <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">
                                    {{ dsj_top[0].tv_vo.update_time|string|truncate(13,end='') }}
                                </span>
                            </a>
                        </div>
                        <div class="fed-col-md8">
                            <ul class="fed-part-rows">
                                {% for ttop in dsj_top %}
                                    <li class="fed-part-eone
                                    {% if loop.index==6 %}fed-hide-md fed-show-lg-block{% endif %}">
                                    <a href="/t-d/{{ ttop.tv_vo.tv_id|b64encode }}">
                                        <span class="fed-part-nums fed-part-num{{ loop.index }}">{{ loop.index }}</span>
                                        {{ ttop.tv_vo.tv_name }}
                                        <span class="fed-part-tips fed-text-green">{{ ttop.tv_top }}</span></a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="fed-col-sx12 fed-col-md7">
                    <ul class="fed-list-info fed-part-rows">
                        {% for dsj in dsjs %}
                            <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md3
                                {% if loop.index==7 or loop.index==8 %} fed-hide-xs{% endif %}">
                                <a class="fed-list-pics fed-lazy fed-part-2by3" href="/t-d/{{ dsj.tv_id|b64encode }}" style="display: block; background-image: url({{dsj.tv_img}});">
                                    <span class="fed-list-play fed-hide-xs"></span>
                                    <span class="fed-list-score fed-font-xii fed-back-green">{{ dsj.tv_area }}</span>
                                    <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">更新{{ dsj.update_time|string|truncate(13,end='') }}</span>
                                </a>
                                <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                                   href="/t-d/{{ dsj.tv_id|b64encode }}">{{ dsj.tv_name }}</a>
                                <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
                                    {{ dsj.tv_actors }}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="fed-list-home fed-part-layout fed-back-whits fed-part-rows">
                <div class="fed-list-head fed-part-rows fed-padding">
                    <h2 class="fed-font-xvi">综艺</h2>
                    <ul class="fed-part-tips fed-padding">
                        {% for zyt in zy_kv_type %}
                            <li class="fed-hide-xs"><a href="/t-t/zy-{{ zyt[0] }}">{{ zyt[1] }}</a> /</li>
                        {% endfor %}
                        <li><a class="fed-more" href="/tv/more/zy">更多</a></li>
                    </ul>
                </div>
                <div class="fed-padding fed-col-sx12 fed-col-md5">
                    <div class="fed-swip-container fed-part-rows swiper-container-horizontal">
                        <ul class="fed-swip-wrapper fed-font-size"
                            style="transform: translate3d(-910px, 0px, 0px); transition-duration: 0ms;">
                            {% for zyt in zy_top %}
                            <li class="fed-swip-slide swiper-slide-duplicate swiper-slide-duplicate-active"
                                 style="width: 455px;">
                                <a class="fed-list-pics fed-part-3by2 fed-swip-lazy swiper-lazy-loaded"
                                   href="/t-d/{{ zyt.tv_vo.tv_id|b64encode }}"
                                   style="background-image: url({{ zyt.tv_vo.tv_img }});">
                                    <div class="fed-swip-title fed-text-white fed-part-eone">
                                        <span class="fed-part-eone fed-font-xviii fed-swip-head">{{ zyt.tv_vo.tv_name }}</span>
                                        <span class="fed-part-eone fed-font-xii">
                                            {{ zyt.tv_vo.update_time|string|truncate(13,end='') }}
                                        </span>
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="fed-swip-pagin fed-font-size fed-text-right swiper-pagination-clickable swiper-pagination-bullets">
                            <span class="fed-swip-bullet"></span><span class="fed-swip-bullet fed-swip-this"></span></div>
                        <a class="fed-swip-next fed-text-white fed-text-center fed-hide-xs fed-icon-font fed-icon-you"
                           href="javascript:;"></a>
                        <a class="fed-swip-prev fed-text-white fed-text-center fed-hide-xs fed-icon-font fed-icon-zuo"
                           href="javascript:;"></a>
                    </div>
                    <div class="fed-list-info fed-list-rank fed-part-rows fed-hide-xs fed-hide-sm fed-show-md-block">
                        <h2 class="fed-list-head fed-part-rows fed-font-xvi">本周热门
{#                            <a class="fed-part-tips fed-font-xiv" href="">更多</a>#}
                        </h2>
                        <div class="fed-col-md4 fed-list-ones">
                            <a class="fed-list-pics fed-lazy fed-part-2by3" href="/t-d/{{ zy_top[0].tv_vo.tv_id|b64encode }}"
                               style="display: block; background-image: url({{zy_top[0].tv_vo.tv_img}});">
                                <span class="fed-list-play fed-hide-xs"></span>
                                <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">
                                    {{ zy_top[0].tv_vo.update_time|string|truncate(13,end='') }}
                                </span>
                            </a>
                        </div>
                        <div class="fed-col-md8">
                            <ul class="fed-part-rows">
                                {% for ttop in zy_top %}
                                    <li class="fed-part-eone
                                        {% if loop.index==6 %}fed-hide-md fed-show-lg-block{% endif %}">
                                        <a href="/t-d/{{ ttop.tv_vo.tv_id|b64encode }}">
                                            <span class="fed-part-nums fed-part-num{{ loop.index }}">{{ loop.index }}</span>
                                            {{ ttop.tv_vo.tv_name }}
                                            <span class="fed-part-tips fed-text-green">{{ ttop.tv_top }}</span></a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="fed-col-sx12 fed-col-md7">
                    <ul class="fed-list-info fed-part-rows">
                        {% for zy in zys %}
                            <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md3
                            {% if loop.index==7 or loop.index==8 %} fed-hide-xs{% endif %}">
                            <a class="fed-list-pics fed-lazy fed-part-2by3" href="/t-d/{{ zy.tv_id|b64encode }}" style="display: block; background-image: url({{zy.tv_img}});">
                                <span class="fed-list-play fed-hide-xs"></span>
                                <span class="fed-list-score fed-font-xii fed-back-green">{{ zy.tv_area }}</span>
                                <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">更新至{{ zy.update_time|string|truncate(13,end='') }}</span>
                            </a>
                            <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                               href="/t-d/{{ zy.tv_id|b64encode }}">{{ zy.tv_name }}</a>
                            <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
                                {{ zy.tv_actors }}
                            </span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="fed-list-home fed-part-layout fed-back-whits fed-part-rows">
                <div class="fed-list-head fed-part-rows fed-padding">
                    <h2 class="fed-font-xvi">动漫</h2>
                    <ul class="fed-part-tips fed-padding">
                        {% for dmt in dm_kv_type %}
                            <li class="fed-hide-xs"><a href="/t-t/dm-{{ dmt[0] }}">{{ dmt[1] }}</a> /</li>
                        {% endfor %}
                        <li><a class="fed-more" href="/tv/more/dm">更多</a></li>
                    </ul>
                </div>
                <div class="fed-padding fed-col-sx12 fed-col-md5">
                    <div class="swiper-container fed-part-rows swiper-container-horizontal">
                        <ul class="fed-swip-wrapper fed-font-size"
                            style="transform: translate3d(-910px, 0px, 0px); transition-duration: 0ms;">
                            {% for dmt in dm_top %}
                            <li class="fed-swip-slide swiper-slide-duplicate" style="width: 455px;">
                                <a class="fed-list-pics fed-part-3by2 fed-swip-lazy swiper-lazy-loaded"
                                   href="/t-d/{{ dmt.tv_vo.tv_id|b64encode }}"
                                   style="background-image: url({{ dmt.tv_vo.tv_img }});">
                                    <div class="fed-swip-title fed-text-white fed-part-eone">
                                        <span class="fed-part-eone fed-font-xviii fed-swip-head">{{ dmt.tv_vo.tv_name }}</span>
                                        <span class="fed-part-eone fed-font-xii">
                                            {{ dmt.tv_vo.update_time|string|truncate(13,end='') }}
                                        </span>
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="fed-swip-pagin fed-font-size fed-text-right swiper-pagination-clickable swiper-pagination-bullets">
                            <span class="fed-swip-bullet"></span><span class="fed-swip-bullet fed-swip-this"></span><span
                                class="fed-swip-bullet"></span><span class="fed-swip-bullet"></span><span
                                class="fed-swip-bullet"></span></div>
                        <a class="fed-swip-next fed-text-white fed-text-center fed-hide-xs fed-icon-font fed-icon-you"
                           href="javascript:;"></a>
                        <a class="fed-swip-prev fed-text-white fed-text-center fed-hide-xs fed-icon-font fed-icon-zuo"
                           href="javascript:;"></a>
                    </div>
                    <div class="fed-list-info fed-list-rank fed-part-rows fed-hide-xs fed-hide-sm fed-show-md-block">
                        <h2 class="fed-list-head fed-part-rows fed-font-xvi">本周热门
{#                            <a class="fed-part-tips fed-font-xiv" href="">更多</a>#}
                        </h2>
                        <div class="fed-col-md4 fed-list-ones">
                            <a class="fed-list-pics fed-lazy fed-part-2by3" href="/t-d/{{ dm_top[0].tv_vo.tv_id|b64encode }}"
                               style="display: block; background-image: url({{dm_top[0].tv_vo.tv_img}});">
                                <span class="fed-list-play fed-hide-xs"></span>
                                <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">
                                    {{ dm_top[0].tv_vo.update_time|string|truncate(13,end='') }}
                                </span>
                            </a>
                        </div>
                        <div class="fed-col-md8">
                            <ul class="fed-part-rows">
                                {% for ttop in dm_top %}
                                    <li class="fed-part-eone
                                        {% if loop.index==6 %}fed-hide-md fed-show-lg-block{% endif %}">
                                        <a href="/t-d/{{ ttop.tv_vo.tv_id|b64encode }}">
                                            <span class="fed-part-nums fed-part-num{{ loop.index }}">{{ loop.index }}</span>
                                                {{ ttop.tv_vo.tv_name }}
                                            <span class="fed-part-tips fed-text-green">{{ ttop.tv_top }}</span></a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="fed-col-sx12 fed-col-md7">
                    <ul class="fed-list-info fed-part-rows">
                        {% for dm in dms %}
                            <li class="fed-list-item fed-padding fed-col-xs4 fed-col-sm3 fed-col-md3
                            {% if loop.index==7 or loop.index==8 %} fed-hide-xs{% endif %}">
                            <a class="fed-list-pics fed-lazy fed-part-2by3" href="/t-d/{{ dm.tv_id|b64encode }}" style="display: block; background-image: url({{dm.tv_img}});">
                                <span class="fed-list-play fed-hide-xs"></span>
                                <span class="fed-list-score fed-font-xii fed-back-green">{{ dm.tv_area }}</span>
                                <span class="fed-list-remarks fed-font-xii fed-text-white fed-text-center">更新到{{ dm.update_time|string|truncate(13,end='') }}</span>
                            </a>
                            <a class="fed-list-title fed-font-xiv fed-text-center fed-text-sm-left fed-visible fed-part-eone"
                               href="/t-d/{{ dm.tv_id|b64encode }}">{{ dm.tv_name }}</a>
                            <span class="fed-list-desc fed-font-xii fed-visible fed-part-eone fed-text-muted fed-hide-xs fed-show-sm-block">
                                {{ dm.tv_actors }}
                            </span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- 电影/电视剧/综艺/动漫结束 -->
            <!-- 友情链接开始 -->
            <div class="fed-part-layout fed-back-whits">
                <div class="fed-list-head fed-part-rows fed-padding">
                    <h2 class="fed-font-xvi">友情链接</h2>
{#                    <ul class="fed-part-tips fed-padding">#}
{#                        <li><a class="fed-more" href="/gbook.html">申请</a></li>#}
{#                    </ul>#}
                </div>
                <ul class="fed-part-rows">
                    {% for fu in fus %}
                        <li class="fed-width-x fed-padding fed-col-xs3 fed-col-sm2">
                            <a class="fed-part-eone fed-text-line" href="{{ fu.f_url }}" target="_blank">{{ fu.f_title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- 友情链接结束 -->
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>

    </script>
{% endblock %}