<div class="fed-goto-info">
{#    <a class="fed-goto-share fed-visible fed-text-center fed-back-whits fed-icon-font fed-icon-fenxiang"#}
{#       href="javascript:;"></a>#}
    <a class="fed-goto-color fed-visible fed-text-center fed-back-whits fed-icon-font fed-icon-fengge fed-event"
       href="javascript:;"></a>
    <a class="fed-goto-toper fed-hidden fed-text-center fed-back-whits fed-icon-font fed-icon-top"
       href="javascript:;"></a>
</div>
<div id="err_seek_msg" class="fed-hidden">
    <div class="fed-col-md10 fed-col-sm10">
        <textarea maxlength="200" cols="20" rows="10" style="width: 300px;" placeholder=""></textarea>
    </div>
</div>
<div id="color" class="fed-hidden">
    <ul class="fed-colo-info fed-part-rows fed-padding fed-back-whits fed-event">
{#        <li class="fed-col-xs4 fed-padding"><a#}
{#                class="fed-btns-info fed-rims-info fed-padding fed-visible fed-colo-btns fed-colo-black"#}
{#                data-type="black" href="javascript:;">黑色</a></li>#}
{#        <li class="fed-col-xs4 fed-padding"><a#}
{#                class="fed-btns-info fed-rims-info fed-padding fed-visible fed-colo-btns fed-colo-golds"#}
{#                data-type="golds" href="javascript:;">黑金</a></li>#}
{#        <li class="fed-col-xs4 fed-padding"><a#}
{#                class="fed-btns-info fed-rims-info fed-padding fed-visible fed-colo-btns fed-colo-glass"#}
{#                data-type="glass" href="javascript:;">透明</a></li>#}
        <li class="fed-col-xs4 fed-padding"><a
                class="fed-btns-info fed-rims-info fed-padding fed-visible fed-colo-btns fed-colo-colou"
                data-type="colou" href="javascript:;">彩色</a></li>
        <li class="fed-col-xs4 fed-padding"><a
                class="fed-btns-info fed-rims-info fed-padding fed-visible fed-colo-btns fed-colo-green"
                data-type="green" href="javascript:;">绿色</a></li>
        <li class="fed-col-xs4 fed-padding"><a
                class="fed-btns-info fed-rims-info fed-padding fed-visible fed-colo-btns fed-colo-blues"
                data-type="blues" href="javascript:;">蓝色</a></li>
        <li class="fed-col-xs4 fed-padding"><a
                class="fed-btns-info fed-rims-info fed-padding fed-visible fed-colo-btns fed-colo-white"
                data-type="white" href="javascript:;">橙色</a></li>
        <li class="fed-col-xs4 fed-padding"><a
                class="fed-btns-info fed-rims-info fed-padding fed-visible fed-colo-btns fed-colo-pinks"
                data-type="pinks" href="javascript:;">粉色</a></li>
        <li class="fed-col-xs4 fed-padding"><a
                class="fed-btns-info fed-rims-info fed-padding fed-visible fed-colo-btns fed-colo-gules"
                data-type="gules" href="javascript:;">红色</a></li>
    </ul>
</div>
<div class="fed-foot-info fed-part-layout fed-back-whits">
    <div class="fed-part-case">
        <p class="fed-text-center fed-text-black">本站所有数据来自互联网，侵权联系邮箱：xwl5242@163.com</p>
        <p class="fed-text-center fed-text-black"></p>
    </div>
</div>
<script src="{{ root }}static/js/main.js"></script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[1];
    s.parentNode.insertBefore(bp, s);
})();
</script>