<div class="fed-head-info fed-back-whits fed-min-width fed-box-shadow">
    <div class="fed-part-case">
        <div class="fed-navs-info">
            <ul class="fed-menu-info">
                <li class="fed-pull-left">
                    <a class="fed-menu-logo fed-show-kind" href="#">
                        <img width="96" height="40" alt="" src="">
                    </a>
                </li>
                <li class="fed-pull-left">
                    <a class="fed-menu-title fed-show-kind fed-font-xvi fed-text-green fed-hide fed-show-md-block"
                       href="/">首页</a>
                </li>
                <li class="fed-pull-left">
                    <a class="fed-menu-title fed-show-kind fed-font-xvi fed-hide fed-show-md-block"
                       href="/vodtype/dianying.html">电影</a>
                </li>
                <li class="fed-pull-left">
                    <a class="fed-menu-title fed-show-kind fed-font-xvi fed-hide fed-show-lg-block"
                       href="/vodtype/lianxuju.html">连续剧</a>
                </li>
                <li class="fed-pull-left">
                    <a class="fed-menu-title fed-show-kind fed-font-xvi fed-hide fed-show-lg-block"
                       href="/vodtype/zongyi.html">综艺</a>
                </li>
                <li class="fed-pull-left">
                    <a class="fed-menu-title fed-show-kind fed-font-xvi fed-hide fed-show-lg-block"
                       href="/vodtype/dongman.html">动漫</a>
                </li>
                <li class="fed-pull-left">
                    <a class="fed-menu-title fed-show-kind fed-font-xvi fed-navs-navbar fed-event fed-hide fed-show-sm-block"
                       href="javascript:;">导航<span class="fed-part-move fed-edge-info fed-edge-bottom"></span></a>
                </li>
            </ul>
            <div class="fed-navs-search fed-back-whits fed-hidden fed-conceal fed-show-sm-block">
                <a class="fed-navs-close fed-conceal fed-hide-sm" href="javascript:;">取消</a>
                <form class="fed-navs-form" autocomplete="off" onkeydown="if(event.keyCode==13){return false}">
                    <div class="fed-navs-cuts fed-event">
                        <a class="fed-navs-btns" href="javascript:;">
                            <span class="fed-navs-name" data-type="1" data-href="/vodsearch.html">视频</span>
                            <span class="fed-part-move fed-edge-info fed-edge-bottom"></span>
                        </a>
                    </div>
                    <input class="fed-navs-input fed-back-ashen fed-event" type="search" placeholder="请输入关键字">
                    <a class="fed-navs-submit fed-back-ashen"><i class="fed-icon-font fed-icon-sousuo"></i></a>
                </form>
            </div>
            <div class="fed-navs-right">
                <a class="fed-navs-route fed-text-black fed-event fed-hidden fed-hide-sm" href="javascript:;"></a>
                <a class="fed-navs-button fed-text-black fed-event fed-hide-sm fed-icon-font fed-icon-sousuo"
                   href="javascript:;"></a>
                <a class="fed-navs-record fed-text-black fed-event fed-hide-xs fed-show-sm-block" href="javascript:;">看过
                    <span class="fed-part-move fed-edge-info fed-edge-bottom"></span>
                </a>
                <a class="fed-navs-login fed-text-black fed-hide-xs fed-show-sm-block" href="javascript:;">登录</a>
                <a class="fed-navs-record fed-text-black fed-event fed-hide-sm fed-icon-font fed-icon-lishi"
                   href="javascript:;"></a>
            </div>
        </div>
        <div class="fed-pops-navbar fed-box-shadow fed-min-width fed-hidden fed-conceal fed-anim">
            <div class="fed-pops-channel fed-back-whits fed-part-rows fed-line-top fed-hidden">选择频道</div>
            <a class="fed-pops-btns fed-back-whits fed-text-black fed-text-center fed-event fed-hide-sm fed-icon-font fed-icon-fenlei"
               href="javascript:;"></a>
            <ul class="fed-pops-list fed-font-size fed-back-whits fed-part-rows">
                <li class="fed-col-sm2 fed-this">
                    <a class="fed-part-eone" href="/">首页</a>
                </li>
                <li class="fed-col-sm2">
                    <a class="fed-part-eone" href="/vodtype/dianying.html">电影</a>
                </li>
                <li class="fed-col-sm2">
                    <a class="fed-part-eone" href="/vodtype/lianxuju.html">连续剧</a>
                </li>
                <li class="fed-col-sm2">
                    <a class="fed-part-eone" href="/vodtype/zongyi.html">综艺</a>
                </li>
                <li class="fed-col-sm2">
                    <a class="fed-part-eone" href="/vodtype/dongman.html">动漫</a>
                </li>
                <li class="fed-col-sm2">
                    <a class="fed-part-eone" href="/arttype/zixun.html">娱乐资讯</a>
                </li>
                <li class="fed-col-sm2">
                    <a class="fed-part-eone" href="/actor.html">明星</a>
                </li>
                <li class="fed-col-sm2">
                    <a class="fed-part-eone" href="/topic.html">专题</a>
                </li>
                <li class="fed-col-sm2">
                    <a class="fed-part-eone" href="/gbook.html">留言</a>
                </li>
            </ul>
        </div>
        <div class="fed-pops-search fed-hidden fed-conceal fed-anim fed-anim-upbit">
            <div class="fed-pops-case fed-line-top fed-back-ashen fed-box-shadow">
                <div class="fed-pops-key"></div>
                <div class="fed-pops-box">
                    <div class="fed-pops-hot">
                        <div class="fed-pops-title fed-back-whits fed-part-rows fed-line-bottom">热门搜索</div>
                        <ul class="fed-pops-list fed-back-whits fed-part-rows">
                            <li class="fed-col-xs6">
                                <a class="fed-event fed-part-eone"
                                   href="/vodsearch/wd/%E5%A4%8D%E4%BB%87%E8%80%85%E8%81%94%E7%9B%9F.html"><span
                                        class="fed-part-nums fed-part-num1">1</span><span class="fed-name">复仇者联盟</span></a>
                            </li>
                            <li class="fed-col-xs6">
                                <a class="fed-event fed-part-eone" href="/vodsearch/wd/%E6%88%98%E7%8B%BC.html"><span
                                        class="fed-part-nums fed-part-num2">2</span><span class="fed-name">战狼</span></a>
                            </li>
                            <li class="fed-col-xs6">
                                <a class="fed-event fed-part-eone"
                                   href="/vodsearch/wd/%E7%BA%A2%E6%B5%B7%E8%A1%8C%E5%8A%A8.html"><span
                                        class="fed-part-nums fed-part-num3">3</span><span
                                        class="fed-name">红海行动</span></a>
                            </li>
                            <li class="fed-col-xs6">
                                <a class="fed-event fed-part-eone" href="/vodsearch/wd/%E9%BB%84%E6%B8%A4.html"><span
                                        class="fed-part-nums fed-part-num4">4</span><span class="fed-name">黄渤</span></a>
                            </li>
                            <li class="fed-col-xs6">
                                <a class="fed-event fed-part-eone"
                                   href="/vodsearch/wd/%E5%91%A8%E6%98%9F%E9%A9%B0.html"><span
                                        class="fed-part-nums fed-part-num5">5</span><span
                                        class="fed-name">周星驰</span></a>
                            </li>
                            <li class="fed-col-xs6">
                                <a class="fed-event fed-part-eone" href="/vodsearch/wd/%E6%B2%88%E8%85%BE.html"><span
                                        class="fed-part-nums fed-part-num6">6</span><span class="fed-name">沈腾</span></a>
                            </li>
                            <li class="fed-col-xs6">
                                <a class="fed-event fed-part-eone"
                                   href="/vodsearch/wd/%E6%9E%81%E9%99%90%E6%8C%91%E6%88%98.html"><span
                                        class="fed-part-nums fed-part-num7">7</span><span
                                        class="fed-name">极限挑战</span></a>
                            </li>
                            <li class="fed-col-xs6">
                                <a class="fed-event fed-part-eone"
                                   href="/vodsearch/wd/%E8%BF%99%EF%BC%81%E5%B0%B1%E6%98%AF%E8%A1%97%E8%88%9E.html"><span
                                        class="fed-part-nums fed-part-num8">8</span><span class="fed-name">这！就是街舞</span></a>
                            </li>
                            <li class="fed-col-xs6">
                                <a class="fed-event fed-part-eone"
                                   href="/vodsearch/wd/%E5%8F%98%E5%BD%A2%E9%87%91%E5%88%9A.html"><span
                                        class="fed-part-nums fed-part-num9">9</span><span
                                        class="fed-name">变形金刚</span></a>
                            </li>
                            <li class="fed-col-xs6">
                                <a class="fed-event fed-part-eone"
                                   href="/vodsearch/wd/%E7%81%AB%E5%BD%B1%E5%BF%8D%E8%80%85.html"><span
                                        class="fed-part-nums fed-part-num10">10</span><span class="fed-name">火影忍者</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="fed-pops-record fed-box-shadow fed-hidden fed-conceal fed-anim fed-anim-upbit">
            <div class="fed-pops-title fed-back-whits fed-line-top fed-line-bottom fed-part-rows"><span
                    class="fed-col-xs9">观看记录</span>
                <a class="fed-clear fed-event fed-text-right fed-col-xs3" href="javascript:;">清空</a>
            </div>
            <ul class="fed-pops-list fed-back-whits">
                <li class="fed-part-rows fed-line-bottom"><a class="fed-part-rows" href="javascript:;">暂无观看记录</a></li>
            </ul>
        </div>
        <div class="fed-pops-cuts fed-line-top fed-hidden fed-conceal fed-anim fed-anim-upbit">
            <ul class="fed-part-rows fed-box-shadow fed-back-whits fed-padding">
                <li data-type="1" data-href="/vodsearch.html"
                    class="fed-padding fed-part-curs fed-text-center fed-event fed-text-green">视频
                </li>
                <li data-type="2" data-href="/artsearch/-------.html"
                    class="fed-padding fed-part-curs fed-text-center fed-event">资讯
                </li>
                <li data-type="8" data-href="/actor/search.html"
                    class="fed-padding fed-part-curs fed-text-center fed-event">明星
                </li>
            </ul>
        </div>
        <div class="fed-pops-user fed-box-shadow fed-back-whits fed-hidden fed-conceal fed-anim fed-anim-upbit">
            <ul class="fed-pops-list fed-font-size fed-back-whits">
                <li>
                    <a href="/user/index.html">游客</a>
                </li>
                <li>
                    <a href="/user/info.html">修改资料</a>
                </li>
                <li>
                    <a href="/user/favs.html">我的收藏</a>
                </li>
                <li>
                    <a href="/user/plays.html">播放记录</a>
                </li>
                <li>
                    <a href="/user/downs.html">下载记录</a>
                </li>
                <li>
                    <a href="/user/plog.html">积分记录</a>
                </li>
                <li>
                    <a href="/user/orders.html">充值记录</a>
                </li>
                <li>
                    <a href="/user/cash.html">积分提现</a>
                </li>
                <li>
                    <a href="/user/buy.html">在线充值</a>
                </li>
                <li>
                    <a href="/user/upgrade.html">升级会员</a>
                </li>
                <li>
                    <a href="/user/reward.html">三级分销</a>
                </li>
                <li>
                    <a href="/user/popedom.html">我的权限</a>
                </li>
                <li>
                    <a href="/user/logout.html">退出登录</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="fed-tabr-info fed-back-whits fed-min-width fed-line-top fed-hide-sm">
    <ul class="fed-part-rows">
        <li class="fed-text-center"><a class="fed-visible fed-text-green" href="/"><i
                class="fed-icon-font fed-icon-shouye"></i><span class="fed-font-xii">首页</span></a></li>
        <li class="fed-text-center"><a class="fed-visible" href="/art/index.html"><i
                class="fed-icon-font fed-icon-zixun"></i><span class="fed-font-xii">资讯</span></a></li>
        <li class="fed-text-center"><a class="fed-visible" href="/gbook.html"><i
                class="fed-icon-font fed-icon-liuyan"></i><span class="fed-font-xii">留言</span></a></li>
        <li class="fed-text-center"><a class="fed-visible" href="/user/login.html"><i
                class="fed-icon-font fed-icon-yonghu"></i><span class="fed-font-xii">我的</span></a></li>
    </ul>
</div>