<div class="fed-head-info fed-back-whits fed-min-width fed-box-shadow">
    <div class="fed-part-case">
        <div class="fed-navs-info">
            <ul class="fed-menu-info">
                <li class="fed-pull-left">
                    <a class="fed-menu-logo fed-show-kind" href="/">
                        <img width="96" height="40" alt="" src="../../static/img/logo.png">
                    </a>
                </li>
                <li id="nav_li_1" class="fed-pull-left">
                    <a class="fed-menu-title fed-show-kind fed-font-xvi fed-hide fed-show-md-block"
                       href="/">首页</a>
                </li>
                <li id="nav_li_2" class="fed-pull-left">
                    <a class="fed-menu-title fed-show-kind fed-font-xvi fed-hide fed-show-md-block"
                       href="/tv/more/mv">电影</a>
                </li>
                <li id="nav_li_3" class="fed-pull-left">
                    <a class="fed-menu-title fed-show-kind fed-font-xvi fed-hide fed-show-lg-block"
                       href="/tv/more/dsj">连续剧</a>
                </li>
                <li id="nav_li_4" class="fed-pull-left">
                    <a class="fed-menu-title fed-show-kind fed-font-xvi fed-hide fed-show-lg-block"
                       href="/tv/more/zy">综艺</a>
                </li>
                <li id="nav_li_5" class="fed-pull-left">
                    <a class="fed-menu-title fed-show-kind fed-font-xvi fed-hide fed-show-lg-block"
                       href="/tv/more/dm">动漫</a>
                </li>
                <li class="fed-pull-left">
                    <a class="fed-menu-title fed-show-kind fed-font-xvi fed-navs-navbar fed-event fed-hide fed-show-sm-block"
                       href="javascript:;">导航<span class="fed-part-move fed-edge-info fed-edge-bottom"></span></a>
                </li>
            </ul>
            <div class="fed-navs-search fed-back-whits fed-hidden fed-conceal fed-show-sm-block">
                <a class="fed-navs-close fed-conceal fed-hide-sm" href="javascript:;">取消</a>
                <form class="fed-navs-form" autocomplete="off" onkeydown="if(event.keyCode==13){return false}">
                    <div class="fed-navs-cuts fed-event">
                        <a class="fed-navs-btns" href="javascript:;">
                            <span class="fed-navs-name" data-type="1">视频</span>
{#                            <span class="fed-part-move fed-edge-info fed-edge-bottom"></span>#}
                        </a>
                    </div>
                    <input class="fed-navs-input fed-back-ashen fed-event" type="search" placeholder="请输入关键字">
                    <a id="index_ser_btn" class="fed-navs-submit fed-back-ashen"><i class="fed-icon-font fed-icon-sousuo"></i></a>
                </form>
            </div>
            <div class="fed-navs-right">
                <a class="fed-navs-route fed-text-black fed-event fed-hidden fed-hide-sm" href="javascript:;"></a>
                <a class="fed-navs-button fed-text-black fed-event fed-hide-sm fed-icon-font fed-icon-sousuo"
                   href="javascript:;"></a>
                <a class="fed-navs-record fed-text-black fed-event fed-hide-xs fed-show-sm-block">
                    免责声明
                </a>
                <a class="fed-navs-record fed-text-black fed-event fed-hide-sm fed-icon-font fed-icon-ziliao"></a>
            </div>
            <div id="declare_content" class="fed-hidden">
                <p>1.本站所有内容均来自视频分享站点所提供的公开引用资源，所有视频及图文版权均归原作者及其网站所有。本站只提供web页面服务,并不提供影片资源存储,也不参与录制、上传。</p>
                <p>2.任何存在于本站上的视频、图文资料均从网络收集所得，不代表本站立场。您可能从这些视频、图文资料上获得资讯，我们对其合法性概不负责，亦不承担任何法律责任。</p>
                <p>3.若原作者对本站所载视频作品版权的归属存有异议，请联系<b>xwl5242@163.com</b>，我们将在第一时间予以删除。</p>
            </div>
        </div>
        <div class="fed-pops-navbar fed-box-shadow fed-min-width fed-hidden fed-conceal fed-anim">
            <div class="fed-pops-channel fed-back-whits fed-part-rows fed-line-top fed-hidden">选择频道</div>
            <a class="fed-pops-btns fed-back-whits fed-text-black fed-text-center fed-event fed-hide-sm fed-icon-font fed-icon-fenlei"
               href="javascript:;"></a>
            <ul class="fed-pops-list fed-font-size fed-back-whits fed-part-rows">
                <li class="p-id-nav_li_1 fed-col-sm2" data-p-id="nav_li_1">
                    <a class="fed-part-eone" href="/">首页</a>
                </li>
                <li class="p-id-nav_li_2 fed-col-sm2" data-p-id="nav_li_2">
                    <a class="fed-part-eone" href="/tv/more/mv">电影</a>
                </li>
                <li class="p-id-nav_li_3 fed-col-sm2" data-p-id="nav_li_3">
                    <a class="fed-part-eone" href="/tv/more/dsj">连续剧</a>
                </li>
                <li class="p-id-nav_li_4 fed-col-sm2" data-p-id="nav_li_4">
                    <a class="fed-part-eone" href="/tv/more/zy">综艺</a>
                </li>
                <li class="p-id-nav_li_5 fed-col-sm2" data-p-id="nav_li_5">
                    <a class="fed-part-eone" href="/tv/more/dm">动漫</a>
                </li>
            </ul>
        </div>
        <div class="fed-pops-search fed-hidden fed-conceal fed-anim fed-anim-upbit">
            <div class="fed-pops-case fed-line-top fed-back-ashen fed-box-shadow">
                <div class="fed-pops-key"></div>
                <div class="fed-pops-box">
                    <div class="fed-pops-hot">
                        <div class="fed-pops-title fed-back-whits fed-part-rows fed-line-bottom">热门搜索</div>
                        <ul class="fed-pops-list fed-back-whits fed-part-rows">
                            {% for mt in mv_top|get_sub_list(0, 3) %}
                                <li class="fed-col-xs6">
                                    <a class="fed-event fed-part-eone" href="/t-d/{{ mt.tv_vo.tv_id|b64encode }}">
                                        <span class="fed-part-nums fed-part-num{{ loop.index }}">{{ loop.index }}</span>
                                        <span class="fed-name">{{ mt.tv_vo.tv_name }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                            {% for dst in dsj_top|get_sub_list(0, 2) %}
                                <li class="fed-col-xs6">
                                    <a class="fed-event fed-part-eone" href="/t-d/{{ dst.tv_vo.tv_id|b64encode }}">
                                        <span class="fed-part-nums fed-part-num{{ loop.index + 3 }}">{{ loop.index + 3 }}</span>
                                        <span class="fed-name">{{ dst.tv_vo.tv_name }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                            {% for zt in zy_top|get_sub_list(0, 3) %}
                                <li class="fed-col-xs6">
                                    <a class="fed-event fed-part-eone" href="/t-d/{{ zt.tv_vo.tv_id|b64encode }}">
                                        <span class="fed-part-nums fed-part-num{{ loop.index + 5 }}">{{ loop.index + 5 }}</span>
                                        <span class="fed-name">{{ zt.tv_vo.tv_name }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                            {% for dt in dm_top|get_sub_list(0, 2) %}
                                <li class="fed-col-xs6">
                                    <a class="fed-event fed-part-eone" href="/t-d/{{ dt.tv_vo.tv_id|b64encode }}">
                                        <span class="fed-part-nums fed-part-num{{ loop.index + 8 }}">{{ loop.index + 8 }}</span>
                                        <span class="fed-name">{{ dt.tv_vo.tv_name }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{#<div class="fed-tabr-info fed-back-whits fed-min-width fed-line-top fed-hide-sm">#}
{#    <ul class="fed-part-rows">#}
{#        <li class="fed-text-center"><a class="fed-visible fed-text-green" href="/"><i#}
{#                class="fed-icon-font fed-icon-shouye"></i><span class="fed-font-xii">首页</span></a></li>#}
{#        <li class="fed-text-center"><a class="fed-visible" href="/art/index.html"><i#}
{#                class="fed-icon-font fed-icon-zixun"></i><span class="fed-font-xii">资讯</span></a></li>#}
{#        <li class="fed-text-center"><a class="fed-visible" href="/gbook.html"><i#}
{#                class="fed-icon-font fed-icon-liuyan"></i><span class="fed-font-xii">留言</span></a></li>#}
{#        <li class="fed-text-center"><a class="fed-visible" href="/user/login.html"><i#}
{#                class="fed-icon-font fed-icon-yonghu"></i><span class="fed-font-xii">我的</span></a></li>#}
{#    </ul>#}
{#</div>#}