<div class="fed-page-info fed-text-center">
    <a class="fed-btns-info fed-rims-info fed-hide fed-show-xs-inline fed-btns-disad"
       href="/vodshow/dongzuopian--------1---.html">首页</a>
    <a class="fed-btns-info fed-rims-info fed-btns-disad"
       href="/vodshow/dongzuopian--------1---.html">上页</a>
    <a class="fed-btns-info fed-rims-info fed-hide fed-show-sm-inline fed-btns-green"
       href="javascript:;">1</a>
    <a class="fed-btns-info fed-rims-info fed-hide fed-show-sm-inline"
       href="/vodshow/dongzuopian--------2---.html">2</a>
    <a class="fed-btns-info fed-rims-info fed-hide fed-show-sm-inline"
       href="/vodshow/dongzuopian--------3---.html">3</a>
    <a class="fed-btns-info fed-rims-info fed-hide fed-show-sm-inline fed-btns-disad" href="javascript:;">...</a>
    <a class="fed-btns-info fed-rims-info fed-hide fed-show-sm-inline"
       href="/vodshow/dongzuopian--------82---.html">82</a>
    <a class="fed-btns-info fed-rims-info fed-hide fed-show-xs-inline" href="javascript:;">1/82</a>
    <a class="fed-btns-info fed-rims-info" href="/vodshow/dongzuopian--------2---.html">下页</a>
    <a class="fed-btns-info fed-rims-info fed-hide fed-show-xs-inline"
       href="/vodshow/dongzuopian--------82---.html">尾页</a>
    <input class="fed-rims-info" type="text" placeholder="输入页码" autocomplete="off">
    <a class="fed-btns-info fed-rims-info fed-page-jump"
       data-url="/vodshow/dongzuopian--------PAGELINK---.html" data-total="82" data-sp="_">跳转</a>
</div>